.container {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0 !important;
  width: 100%;
}

.head {
  border-bottom: 3px solid #f4f7fc;
  display: flex;
  align-items: center;
  /* padding-bottom: 1rem; */
}

.title {
  font-size: 1.75rem;
  color: #00b46e !important;
}

.order_status_bottom {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 3px solid #f4f7fc;
}

.order_status_bottom_text {
  font-size: 1rem;
}

.order_status_bottom_text span {
  font-weight: bold;
}

.text_danger {
  color: #dc3545 !important;
}

.print_invoice {
  width: 100%;
}

.text_bill {
  color: #919aa3 !important;
  font-size: 1rem;
}

.comeback {
  margin-bottom: 15px !important;
  color: #919aa3 !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: googlesansregular;
}

.comeback a {
  color: #0e1983;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.wrapLeftOrder {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background: #ffffff;
  padding: 20px;
  min-height: 578px;
  height: 100%;
  /* max-height: 530px; */
}

.wrapRightOrder {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background: #ffffff;
  padding: 20px;
  min-height: 578px;
  height: 100%;
  /* max-height: 530px; */
}

.orderID {
  color: #292929;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-transform: capitalize;
  font-family: googlesansmedium;
}

.btnV2 {
  color: #3b438f;
  background-color: #f5f5f5 !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-bottom: 6px;
  min-width: unset;
}

.btnV2:hover {
  color: #00b46e;
}

.statusDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.statusTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-family: googlesansregular;
}

/* .contentDetail {
  padding: 6px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #8D8D8D;
  font-family: googlesansmedium;
} */

.contentDetail span:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #8d8d8d;
  font-family: googlesansmedium;
}

.contentDetail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8d8d8d;
  font-family: googlesansmedium;
  padding: 7px 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentValueInfo {
  font-family: googlesansregular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.contentDetail span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.contentValue {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #202332;
  font-family: googlesansregular;
  padding: 6px 0px;
  text-transform: capitalize;
}
.text_lowercase {
  text-transform: lowercase !important;
}
.contentValue:last-of-type {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.connector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1.5px solid #ababab;
  border-radius: 50%;
  margin-left: -3px;
}

.label:last-of-type span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #292929;
  font-family: googlesansregular;
}

.label {
  position: relative;
}

.timeLine span > span {
  position: absolute;
  min-width: 280px;
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #636363 !important;
}

.Grow {
  background-color: #ffffff;
  margin: 2px 70px 0px 0px;
  min-width: 100px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 1px solid #e6e8ef;
  width: 130px;
}

.wrapIcon {
  display: flex;
}

.wrapMoreAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapMoreAction:hover {
  background-color: transparent;
}

.wrapMoreAction:last-of-type {
  text-transform: capitalize;
  font-family: googlesansregular;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.btnReturn > p {
  font-family: googlesansregular;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: block;
}

.btnReturn > a {
  color: #3b46ab !important;
  font-size: 10px;
  font-family: googlesansregular;
  display: block;
}

.Timeline {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #636363;
  font-family: googlesansregular;
  text-transform: capitalize;
  min-width: 100%;
}

.activeStep {
  border: 1.5px solid #08ac60;
  color: #00b46e;
  filter: invert(43%) sepia(81%) saturate(449%) hue-rotate(100deg) brightness(102%) contrast(102%);
}

.completedStep {
  background-color: #dcdbdb;
  border: 1px solid #dcdbdb;
}
.exitStep {
  border: 1px solid red;
}

.ticketReturn {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.ticket_return_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: ggsm;
  color: #000000;
}
.ticket_number_text {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.ticketItem {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  height: 74px;
  padding: 16px;
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
}
.ticket_item_title {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #797979;
}
.ticketCode {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  font-family: googlesansmedium;
  color: #000000;
}

.ticketItem:hover {
  border: 1px solid #0bd577;
}

.hiddenWrapTicket {
  display: none;
}

.btnEdit:hover {
  filter: invert(43%) sepia(81%) saturate(449%) hue-rotate(100deg) brightness(102%) contrast(102%);
}

.btnEditAction {
  padding: 0;
  width: 28px;
  height: 28px;
  min-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnEditAction:hover {
  background-color: transparent;
}

.disabled {
  filter: invert(99%) sepia(0%) saturate(2087%) hue-rotate(182deg) brightness(119%) contrast(78%);
  cursor: default !important;
}
.wrapSlider {
  width: 100%;
  height: 100%;
}
.wrapSlider [class*='track'] {
  margin-left: 0px;
}
.wrapSlider [class*='prev']:before {
  color: #c4c4c4;
}
.wrapSlider [class*='next']:before {
  color: #c4c4c4;
}
.wrapSlider [class*='slick-track'] {
  width: 100% !important;
}
.wrapSlider [class*='slick-slide'] {
  width: 212px !important;
  margin-right: 8px;
}
.wrapSlider [class*='slick-list'] {
  height: 74px !important;
}
.slider_items [class*='slick-current'] {
  margin-left: 2px;
}
@media screen and (max-width: 767px) {
  .container {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .print_invoice_button {
    justify-content: space-between;
  }

  .order_status_bottom {
    display: block;
  }

  .order_button {
    justify-content: center !important;
  }

  .table_wrapper {
    width: 100%;
    overflow: auto;
  }
}

.ticket {
  margin-top: 16px;
}

@media screen and (max-width: 615px) {
  .ticket {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group [class*='accordion'] {
  box-shadow: none;
  background-color: transparent;
}

.group [class*='invoiceMore'] {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.group [class*='invoiceMore'] span {
  transform: rotate(180deg);
  height: 12px !important;
}

.group [class*='invoiceMore'] p {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0e1983;
  margin: 0;
}

.group [class*='accordionDetail'] {
  padding: 0px;
}

.group [class*='title'] {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #292929;
}

.group [class*='moreView'] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0;
  color: #0e1983 !important;
  background-color: transparent !important;
  cursor: pointer;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.group [class*='moreView'] span {
  gap: 8px;
  height: 12px !important;
}

.group [class*='moreView'] p {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0e1983;
  margin: 0;
}

.orderInvoiceWapper {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  margin-top: 15px;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 5%);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 20px;
}

.orderInvoiceWapper [class*='divider'] {
  padding: 16px 0px;
}

.statusInvoice {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: googlesansregular;
}

.accorditonTransition .MuiAccordionSummary-expandIcon {
  transform: rotate(0deg);
}

.textAddress {
  text-transform: capitalize;
}

.sendData {
  border-radius: 30px;
  padding: 12px 40px;
  font-size: 0.875rem;
  min-width: 176px;
  margin: 0.25em;
  font-family: googlesansregular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 180, 110) !important;
  border: 1px solid rgb(0, 180, 110) !important;
}

.infoInvoice :hover {
  color: #00b46e;
}

.linkInvoice {
  display: flex;
  margin: 0px 20;
}

.linkInvoice [class*='svg'] {
  color: #ababab;
}

.titleInfoInvoice {
  font-family: ggsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101754;
  font-family: googlesansregular;
  flex-grow: 1;
}

.statusTitleInvoice {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  font-family: googlesansregular;
}

.headInvocie {
  width: 100%;
  margin-top: 20px;
}
.titleSellerInvoice {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: capitalize;
}
.wrapInfoInvoice {
  margin-top: 4px;
  margin-bottom: 24px;
}
.wrapItemInvoice {
  margin-left: 20px;
}
.wrapListInvoice {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.endInvoice {
  border: 1px solid #d4323b !important;
}
.endInvoiceBG {
  background-color: #dcdbdb !important;
  border: 1px solid #dcdbdb !important;
  cursor: unset;
}

.wrapBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.descInvoice {
  color: #d4323b;
  font-family: googlesansregular;
}

.boxIcon {
  display: flex;
  gap: 4px;
}
@media (max-width: 465px) {
  .wrapBtnInvoice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .wrapStatusInvoice {
    justify-content: center;
    width: 100%;
  }

  .wrapRightOrder {
    max-height: 1000px;
  }
}
.btn_action_order {
  border: 1px solid #0e1983;
  border-radius: 30px;
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #0e1983;
  height: 24px;
  padding: 12px 16px;
}
.container_btn_action {
  gap: 8px;
  margin-top: 16px;
}
.text_title {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.content_detail_ul {
  padding-left: 20px;
  margin: 0px;
  color: #a2a0a0;
}
.disabled_btn {
  color: #a2a0a0 !important;
  filter: invert(68%) sepia(1%) saturate(0%) hue-rotate(153deg) brightness(83%) contrast(85%);
  border: 1px solid #a2a0a0 !important;
}
.mt_16 {
  margin-top: 16px;
}
.hover_green {
  color: #c0c0c0;
  cursor: pointer;
  /* background: #C0C0C0; */
  /* width: 20px;
  height: 20px; */
}
.hover_green:hover {
  filter: invert(66%) sepia(95%) saturate(385%) hue-rotate(93deg) brightness(93%) contrast(83%);
}
