.root_input [class*='MuiInputBase-input'] {
  font-weight: 500 !important;
  font-size: 14px !important;
  background-color: white;
  min-width: 0;
  border-radius: 2rem !important;
  width: 100% !important;
  padding: 18px !important;
  padding-left: 48px !important;
  font-family: googlesansregular;
  color: #8c97b5;
}
.searchContainer > [class*='MuiFormControl-root'] {
  width: 100% !important;
  border: 1px solid #e0e5f3 !important;
  border-radius: 2rem !important;
  background-color: white;
}
.focus {
  border: 1px solid #0e1983 !important;
  color: #0e1983 !important;
  outline: none !important;
  border-radius: 2rem !important;
}
.searchContainer {
  width: 100%;
  position: relative;
}
.searchContainer [class*='MuiInputAdornment-positionStart'] {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  margin: 0px;
}
.searchContainer [class*='MuiInput-underline']::after {
  border: none !important;
}

.searchContainer [class*='MuiInput-underline']::before {
  border: none !important;
}
.root_input [class*='Mui-focused'] [class*='MuiInputBase-input'] {
  border: none !important;
}
.iconRemove {
  margin-right: 10px;
  cursor: pointer;
  color: #aab2c7;
  background-color: whitesmoke;
  border-radius: 50%;
}
