.container {
  max-width: 1304px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.container_mobile {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.wrapper_breadcrums {
  margin: 40px 0 0 0;
  padding: 5px;
}
.wrapper_breadcrums_mobile {
  margin: 20px 0 0 0;
}
.title_detail_loading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 5px;
}
.title_detail_left_loading {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.title_detail_left_mobile_loading {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 20px;
}
.padding_none {
  padding: 0px !important;
}
.title_daily_loading {
  margin: 30px 0px;
}
.wrapper_product_loading {
  width: 100%;
  margin-top: 0px !important;
}
.wrapper_product_mobile_loading {
  width: 100%;
  padding-bottom: 50px;
}
.sales_time_loading {
  display: flex;
  column-gap: 10px;
}
@media screen and (max-width: 500px) {
  .wrapper_breadcrums {
    margin: 30px 0 0 0;
  }
}
