.header_info {
  background-color: #f4f7fc;
  color: #6c757d !important;
}

.header_info_wrap {
  display: flex;
  align-items: center !important;
  justify-content: flex-end !important;
  height: 32px;
  padding-right: 32px;
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
}

.div_buttons [class*='custombtn'] {
  color: #00b46e !important;
  background-color: transparent !important;
  border-color: #00b46e !important;
}

.link {
  padding: 5px;
}

.no_decoration {
  text-decoration: none;
  font-size: 12px;
}

.small_button {
  font-size: fontSize;
  padding: 3px;
}

.login {
  max-width: 1290px;
  margin: 0 auto;
  padding: 15px !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.logo {
  padding: 15px;
  cursor: pointer;
}

.div_buttons {
  padding: 15px;
}

.buttons {
  padding: 15px;
}

.SearchInput {
  border-radius: 20px !important;
  width: 100%;
}

.notiIcon {
  color: #919aa3;
  margin-right: 10px;
}

.rSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .header_info_wrap {
    padding: 10px;
  }
  .header_info_wrap > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .div_buttons {
    padding: 0;
  }
  .div_buttons button {
    padding: 4px 11px;
  }
  .div_buttons button:last-child {
    margin-right: 0 !important;
  }
  .div_buttons button span {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .notiIcon {
    margin-right: 15px !important;
  }
}
@media (max-width: 480px) {
  .login > div:first-child {
    flex: 0 0 110px;
  }
}

.notifyTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationsItem {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 12px 20px !important;
  border-bottom: 1px solid rgba(145, 154, 163, 0.3);
  background-color: rgba(145, 158, 171, 0.16);
}

.notificationsItem:hover {
  background-color: rgba(145, 158, 171, 0.08);
}

.notifyIcon {
  max-width: 15%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 20px;
  background-color: #56ccf2;
}

.notifyContent {
  max-width: 80%;
  width: 100%;
  margin-left: 10px;
}

.notifyContentTitle {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: rgba(0, 0, 0, 0.87);
}

.notifyContentDescription {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.54);
}

.createdAt {
  margin-top: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  color: rgb(145, 158, 171);
}

.unRead {
  font-weight: bold !important;
}

.unRead::after {
  content: ' ';
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: black;
  transition: 0.3s ease;
}

.read {
  background-color: #fff !important;
}

.notifyTitle h3 {
  font-size: 28px;
}

.btn {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 50px !important;
  color: #212529 !important;
  background-color: #f9b514 !important;
  border-color: #f9b514 !important;
  text-transform: capitalize;
}

.notify_wrap {
  border: solid 1px rgba(145, 158, 171, 0.08);
  overflow: inherit;
  box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%), 0 20px 40px -4px rgb(145 158 171 / 24%) !important;
  margin-top: 12px;
  margin-left: 4px;
  overflow: visible !important;
}

.arrow {
  top: -7px;
  right: 20px;
  width: 12px;
  height: 12px;
  content: '';
  z-index: 1;
  position: absolute;
  transform: rotate(-135deg);
  background: #fff;
  border-right: solid 1px rgba(145, 158, 171, 0.12);
  border-bottom: solid 1px rgba(145, 158, 171, 0.12);
  border-radius: 0 0 4px 0;
}

.notifyBox {
  width: 360px;
  max-width: 100%;
  max-height: 470px;
  overflow-y: auto;
}
.notificationsItem:hover {
  background-color: #f3f3f3 !important;
  transition: all 0.5s;
}
.title_wrap {
  display: flex;
  align-items: center;
  padding: 16px 20px;
}

.title {
  margin: 0px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

.description {
  margin: 0px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: rgb(99, 115, 129);
}

.divider {
  margin: 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(145, 158, 171, 0.24);
}

.notify_wrap [class*='MuiMenu-list'] {
  padding: 0 !important;
  width: auto !important;
}

.viewAll {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 700;
  font-size: 0.875rem !important;
  line-height: 1.71429;
  text-transform: capitalize;
  min-width: 64px;
  padding: 6px 8px !important;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(0, 171, 85) !important;
  width: 100%;
}

.viewAll:hover {
  background-color: rgba(0, 171, 85, 0.08) !important;
}

.markAll {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(0, 171, 85);
}
