.btnReturn {
  background-color: #ff9900;
  color: #ffffff;
  border-radius: 25px;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  width: 9rem;
  margin: 0.25em;
}
.btnReturn:hover {
  background-color: #fdb54a;
}
.wrapBtn {
  margin-left: auto;
}
.ticketCode {
  color: #9fa1a3;
  font-family: ggsr;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-top: 4px;
  padding: 5px 0px;
}
.wrapTicketId a {
  padding: 0 !important;
}
.redirectLink {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 2px;
}
