.containerIcon {
  position: fixed;
  right: 10px;
  bottom: 110px;
  z-index: 99;
  /* padding: 10px; */
  /* background-color: #15A959; */
  /* border-radius: 100px; */
}
.rootFab {
  width: unset;
  height: unset;
  box-shadow: unset;
  box-sizing: unset;
  padding: 10px;
  background-color: #15a959;
}
.rootFab:hover {
  background-color: #15a959 !important;
}
.mobileChat_badge {
  position: absolute;
  top: 3px;
  left: 44px;
  color: #fff;
  min-width: 15px;
  line-height: 15px;
  height: 15px;
  border-radius: 50px;
  z-index: 1;
  background-color: #d4323b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ggsm;
  font-size: 12px;
  padding: 2px 2px;
}

.drawerContainer {
  height: fit-content !important;
  background: #ffffff;
  border-radius: 18px 18px 0px 0px;
  padding: 20px;
}

.drawerContent {
  padding: 0px;
}

/* start style FormWalkInGuest */
.logo {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 180px;
  display: inline-flex;
  padding: 7px;
}

.rootHeader {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.headerText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.headerDescription {
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.contentGuest {
  margin-top: 28px;
}

.inputGuest {
  margin: 12px 0px 0px 0px !important;
}

.errorMesGuest {
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: red;
}

.phoneIcon {
  margin-left: 11px;
  margin-right: 11px;
}

.buttonGuest {
  margin-top: 25px;
  padding: 14px 0px !important;
}

.btnTextGuest {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-right: 10px;
}

/* end style FormWalkInGuest */
