.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #00b46e;
  font-size: 2rem;
  font-weight: 500;
}

.button_update {
  padding: 0.5rem 1.5rem !important;
  color: #212529 !important;
  background-color: #f9b514 !important;
  border-color: #f9b514 !important;
  font-size: 1rem !important;
  text-transform: none !important;
  border-radius: 50px !important;
}
@media (max-width: 767px) {
  .container [class*='title'] {
    font-size: 24px;
  }

  .container [class*='form_control'] label {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
  }
  .container [class*='MuiGrid-container'] {
    /* padding-bottom: 30px; */
  }
}
