.footer_info {
  display: flex;
  max-width: 1290px;
  margin: 72px auto;
  width: 100%;
  font-size: 16px;
}
.policy_wrap {
  display: flex;
}
.primary_color {
  color: #586189;
}
.link {
  display: inline-block;
}
.link:hover {
  color: #00b46e;
  text-decoration: none !important;
  cursor: pointer;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  margin: 56px auto;
  padding-top: 56px;
}
.download_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 19%;
  height: 32px;
}
.facebook {
  /* display: flex; */
}
.fb_text {
  padding-left: 5px;
}
.logo {
  display: inline-block;
}
.hr {
  border: 1px solid #e6e8ef;
}
.empty {
  height: 23px;
}
