.root {
  background: #fff;
  padding: 80px 0;
  font-family: ggsr;
  font-size: 16px;
}

.container {
  background-color: #fff;
  width: calc(100% - 40px);
  max-width: 1304px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  position: relative;
  aspect-ratio: 7/3;
}

.sliderTitle {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  padding: 0 20px;
  font-family: ggsr;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.infoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infoBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-top: 80px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #000;
  position: relative;
}

.infoBlock .row {
  border: 2px solid rgb(12, 186, 105);
  height: 80px;
  margin: -1px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .1s ease-in-out;
  cursor: pointer;
  aspect-ratio: 1/1;
  height: 100%;
  border-right: 2px solid rgb(12, 186, 105);
}

.icon:hover {
  background-color: rgb(12, 186, 105);
}

.icon img {
  transform: scale(.7);
  transition: .1s ease-in-out;
}

.icon:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.row .link {
  background-color: rgba(12, 186, 105, .4);
  color: rgb(0, 37, 20);
  text-transform: uppercase;
  font-size: 2rem;
  transition: .1s ease-in-out;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.row .link:hover {
  background-color: rgb(12, 186, 105);
  color: #fff;
}

.socialBlock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.socialIcon {
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 20px 20px 59px #f5f5f5,
    -20px -20px 59px #ffffff;
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  transition: .1s ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.1)
}

.title {
  font-family: ggsr;
  font-size: 2.2rem;
  text-align: center;
}

.footer {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .infoBlock .row {
    height: 70px;
  }

  .sliderTitle {
    font-size: 1.4rem;
  }

  .row .link {
    font-size: 1.6rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .infoBlock {
    margin-top: 60px;
  }

  .root {
    background: #fff;
    padding: 60px 0;
  }
}

@media (max-width:476px) {
  .infoBlock .row {
    height: 60px;
  }

  .sliderTitle {
    font-size: 1rem;
  }

  .row .link {
    font-size: 1.1rem;
  }

  .socialIcon {
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 1.2rem;
  }
}