
.customerLevel {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 4px 14px 1px 10px;
    background: #666;
    border: solid 1px #000;
    border-left: solid 3px #000;
    display: inline-block;
    color: #fff;
    width: 110px;
}
