/* timerComponent */
.wrapperTimer {
  display:  flex;
  gap: 10px;
}
.timerComponent {
  background-color: #D55D2A;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 4px 7px;
  color: #fff;
  flex: 1;
  border: 1px solid #D55D2A;
}

.timerComponent [class="time"] {
  margin: 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  font-family: ggsm;
}

.timerComponent [class="conditions"] {
  font-family: ggsr;
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  text-transform: capitalize;
}

.timerNotReady {
  color: #0E1983;
  background-color: #FFFFFF;
  border-color: #E9E9E9;
}

.timerActive {
  background-color: #ddf4ea;
  color: #09884d;
}

.disabled {
  color: rgba(0, 0, 0, 0.26);

}