.newProductsInUse li a,
.newProductsInUse li span {
  color: #00b46e;
  text-decoration: underline;
  font-style: italic;
}

.isDisplayText {
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: #00b46e;
}