.wrap_info {
  display: flex;
}
.name {
  font-weight: bold;
}
.info {
  margin-left: 20px;
}
.top_product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.top_product_less {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.product_image {
  border: 0.5px solid #2e2f33;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.sale_price {
  color: #00b46e;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.price_wrap {
  display: flex;
  justify-content: space-between;
}
.price {
  text-decoration: line-through;
  color: #848685;
  font-size: 14px;
}
.img {
  object-fit: contain;
}
.link:hover {
  cursor: pointer;
}
.tag {
  background: rgb(175, 2, 2);
  border-radius: 15px;
  color: white;
  width: fit-content;
  padding: 0 10px;
}
.chip {
  border-radius: 8px 0;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.card {
  position: relative;
  box-shadow: none;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
}
@media screen and (max-width: 767px) {
  .price_wrap {
    display: block;
    text-align: center;
  }
}
.avatar {
  border: 1px solid #37383d;
  border-radius: 10px;
  margin-left: 4px;
}
