.rightGroup {
    float: right;
    align-items: center;
}

.btnDialog {
    float: right;
    align-items: center;
    margin: 12px;
}

.search {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.grid {
    flex-grow: inherit;
    margin-bottom: 10px;
}

.contentPadding {
    padding: 12px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.formControl {
    width: 200px;
    margin: 10px;
}

.input {
    flex: 1;
    margin-left: 3px;
}

.iconButton {
    padding: 10px;
}

.textSearch {
    color: green;
    padding: 10px;
}

.root {
    flex-grow: 1
}

.paper {
    padding: 2px;
    text-align: center;
}

.rootCard {
    margin: 10px;
}

.formControl {
    margin: 1px;
    height: 30px;
}

.MuiInputBase-root {
    width: 100%;
}

.valueLocation {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    word-wrap: break-word;
}

/* update deal form */
.resultUpdateForm_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.resultUpdateFrom_success_title {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #00B46E;
}

.resultUpdateFrom_fail_title {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #F44336;
}

.resultUpdateForm_rowContainer div:not(:nth-child(2)) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultUpdateForm_rowContainer div {
    border-bottom: 1px solid black;
}

.resultTable_status {
    text-align: center;
    padding: 2px 4px;
}

.tableCaption {
    color: rgba(0, 0, 0, 0.54);
    padding: 4px 0;
    text-align: left;
}

.captionSelectedRow {
    color: rgba(0, 0, 0, 0.54);
    padding: 4px 0;
    text-align: left;
    font-style: italic;
    font-weight: 700 !important;
    display: flex;
    align-items: baseline;
    gap: 4px;
    line-height: 18px;
}

.buttonWarning {
    display: flex;
    top: 4px;
    padding: 1px !important;
    background: none !important;
}