.cb_title {
  margin: 20px 0 10px;
  font-size: 12px;
  font-weight: 600;
}
.cb_item {
  display: flex;
  justify-content: space-between;
}
.cb_link,
.cb_unlink {
  padding: 0;
  margin-bottom: 7px;
  font-size: 14px;
}
.cb_link {
  color: #00b46e;
}
.cb_link:hover {
  opacity: 0.5;
}
.priceGroup {
  flex: 0 0 213px;
  display: flex;
}
.cb_price {
  color: #00b46e;
}
.cb_name {
  display: flex;
  padding-right: 15px;
  margin-bottom: 10px;
}
.price_label {
  padding-right: 5px;
}
.qty {
  display: flex;
  padding-right: 15px;
}
/* fix css tag HOA DON NHANH in combo */
.product_tags {
  width: 229px;
  margin: 0 10px;
}
.product_tags [class*='tagContaine'] {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .priceGroup {
    flex: 0 0 120px;
    justify-content: flex-end;
  }
  .priceGroup span:first-child {
    display: none;
  }
}
