.actRow {
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.05);
}

.actRow:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.actTime {
  display: inline-block;
}

.actContent {
  display: inline-block;
  width: 100%;
}

.actSession {
  padding-left: 8px;
  width: 320px;
  max-width: 100%;
}

.actSessionValue {
  border: 1px solid #ccc;
}

.actData {
  font-size: 95%;
  color: #666;
  padding-left: 16px;
}

.actDataCell {
  border-bottom: none !important;
  color: #666 !important;
  padding: 2px !important;
}

.menuBarWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0cba69;
  min-height: 36px;
}

.menuBarTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  margin-left: 5px;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.menuBarTab::after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  content: '';
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.menuBarTab:hover::after {
  transform: scaleX(1)
}

.menuBarTab img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .actRow {
    display: flex;
  }

  .actTime {
    width: 140px;
  }
}

@media only screen and (max-width: 599.99px) {
  .appWrapper {
    padding: 0 14px 14px 14px;
  }
}