.title {
  text-align: center;
  font-size: 32px;
  color: #00b46e;
  font-weight: 500;
  margin-top: 0;
}

.item {
  height: 185px;
  display: flex !important;
  align-items: center;
}
.item img {
  object-fit: contain;
}

.slider {
  min-height: 185px;
}

@media (max-width: 767px) {
  .center {
    font-size: 24px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
  }

  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
