.text {
  font-family: ggsm !important;
  color: #797979;
  font-size: 16px;
  max-width: 200px;
  line-break: anywhere;
}

.number {
  font-family: ggsm !important;
  font-size: 16px;
}

.price {
  color: #00b46e !important;
}
.numberDiscount {
  font-size: 14px;
  font-family: ggsm !important;
}
.wrapper {
  padding: 10px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
  padding: 16px;
}

.icon_promo {
  margin-right: 4px;
}

.promo_text {
  color: #00b46e;
  font-weight: 500;
}

.promo_text:hover {
  color: #00683f;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.quantity_border {
  border-right: 1px solid rgba(195, 204, 220, 0.4);
}

.promo_border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #919aa3;
}

.width100 {
  width: 100%;
}

.textLineThrought {
  text-decoration-line: line-through;
  color: #919aa3 !important;
}

.btn {
  width: 100%;
  color: #fff !important;
  background-color: #08ac60 !important;
  border-color: #08ac60 !important;
  border-radius: 50px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  justify-content: center;
  text-transform: unset !important;
  font-weight: 500;
  margin-top: 5px;
  font-family: ggsm;
}

.counpon_button {
  color: #00b46e;
  font-weight: 600 !important;
  cursor: pointer;
}

.counpon_button:hover {
  color: #00683f;
}

.quick_link p {
  font-size: 16px;
}

.promo_left {
  display: flex;
  align-items: center;
}

.total {
  text-decoration: line-through;
  color: #919aa3;
  font-size: small !important;
}

.hiddenGift {
  display: none;
}

.hiddenPriceQO {
  display: none;
}
.text_err_notification {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #80191f;
  margin-bottom: 19px;
  background: #ffddd6;
  border-radius: 4px;
}
.button {
  background: #ffffff;
  border: 1px solid #09884d;
  color: #09884d;
  border-radius: 24px;
  padding: 0 15px !important;
}
.button * {
  font-size: 12px;
}
.text_auto {
  font-family: ggsr;
  font-size: 14px;
}
.text_totalPrice {
  font-family: ggsm !important;
  color: #797979;
  font-size: 16px;
}
.continue_btn * {
  font-family: ggsm !important;
}
.numberTotalPrice {
  color: #09884d;
  font-family: ggsm !important;
  font-size: 16px;
}
