.date_input > label {
  transform: translate(12px, 10px) scale(0.75);
}
.date_input input {
  height: fit-content !important;
}
.date_input_mobile input {
  height: fit-content !important;
}
.date_input_mobile input::-webkit-date-and-time-value {
  text-align: left;
}
.date_input input::-webkit-date-and-time-value {
  text-align: left;
}
.place select, .mobilePlace select {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* new mobile ui */
.mobileDate_input > label, .mobilePlace > label{
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #797979;
}

.mobileDatePickerCustomize{
  border-radius:8px ;
  border: 1px solid #dbdbdb ;
  padding: 15px 0px 12px 10px;
  height: 60px;
}
.mobileDatePickerCustomize > label{
  color: #797979!important;
  font-size: 14px;
  font-family: ggsr;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  transform: translate(12px, 8px) scale(0.75);
}
.mobileDatePickerCustomize > div{
  margin-top: 3px!important;
}
.mobileDatePickerCustomize > div > input{
  font-size: 14px;
  line-height: 18px;
  padding: 17px 12px 15px 4px!important;
}
.mobileDatePickerCustomize > div::before, .mobileDatePickerCustomize > div::after{
  border: none!important;
}
.mobileDatePickerCustomize > p{
  display: none;
}
.mobileDatePickerCustomize > div > div >button{
  padding: 0;
}

.mobileDatePickerCustomize > div > div{
  position: absolute;
  right: 6%;
  top: 40%;
}