.wrapper {
  padding: 50px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 50px 10px;
  }
  .wrapperImg {
    padding-bottom: 100%;
  }
}
@media (min-width: 768px) {
  .wrapperImg {
    padding-bottom: 50%;
  }
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapperImg {
  position: relative;
  width: 100%;
}
.title {
  text-align: center;
  font-family: googlesansmedium;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.textDesc {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.highlight {
  color: #15a959;
}
