.content {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-mask-image: linear-gradient(180deg, #000 40%, transparent);
}
.content_full {
  -webkit-mask-image: none !important;
}
.content * {
  font-size: 14px;
  font-family: googlesansregular;
}
.wrap_detail {
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.name_detail {
  color: #fff;
  font-family: ggsm;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #09884d;
  text-align: center;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}
.wrap_content {
  padding: 16px 15px;
}
.wrap_content * {
  font-family: ggsr;
}
.revenue_label {
  font-size: 18px;
  font-family: ggsm !important;
}
.target {
  color: #09884d;
  font-size: 18px;
}
.tabs [class*='MuiTab-root'] {
  margin: 0 30px 0 0 !important;
  padding: 0 !important;
  min-width: 0 !important;
  text-transform: capitalize;
}
.tabs [class*='MuiTabs-flexContainer'] {
  border-bottom: 1px solid #e9e9e9;
}
.tabs [class*='MuiTabPanel-root'] {
  padding: 10px 0 !important;
}
.tabs [class*='MuiTab-wrapper'] {
  font-family: googlesansmedium !important;
}
.button {
  background: #ffffff;
  border: 1px solid #08ac60;
  box-sizing: border-box;
  border-radius: 30px;
  color: #09884d;
  padding: 0.5rem 2rem;
}

.mobileReward_tab {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.mobileSeemore_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.mobileSeemore {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0e1983;
}

.active {
  background: #edfdf6;
  border: 1px solid #09884d;
  border-radius: 32px;
}
.active > span {
  font-family: ggsm !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-transform: capitalize !important;
  color: #09884d !important;
}
.rewardEvent_option {
  border: 1px solid #dcdbdb;
}
.rewardEvent_option.active {
  background-color: #edfdf6 !important;
  border: 1px solid #09884d;
}
.mobileReward_content p:first-child {
  margin: 0;
}
