.mobileAlert_heightDefault {
  height: 85%;
}
.mobileRadioButton {
  color: #08ac60;
}

.alertFilter_box {
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
  border-radius: 12px;
  overflow: hidden;
  /* height: 85%; */
}
.alert_container_paper {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* height: 85%; */
}
.alert_icon {
  text-align: center;
}
.alertFilter_title {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.alertFilter_removeAll {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0e1983;
}
.alert_success_title {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 8px 0 20px;
  text-align: center;
}
.alert_warning_title {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #797979;
  margin: 20px 0 8px;
  text-align: center;
}
.alert_subTitle {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.option_title {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.optionFilter_container{
    text-transform: capitalize;
}
.optionFilter_container > div > label{
  width: 100%;
}

/* Sort */
.alertSort_title {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.optionSort_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionSort_container:first-child {
  padding: 28px 0 14px;
}
.optionSort_container:not(:first-child):not(:last-child) {
  padding: 14px 0;
}
.optionSort_container:last-child {
  padding: 14px 0 12px;
}
.optionSort_title {
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.optionSort_title p {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.optionSort_title_content{
  display: flex;
  gap: 8px
}
.active {
  background: #edfdf6;
  border: 1px solid #09884d;
  border-radius: 32px;
}
.active > span {
  font-family: ggsm !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-transform: capitalize !important;
  color: #09884d !important;
}

/* Filter */
.alertFilter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter_option {
  border-radius: 32px !important;
  padding: 7px 20px !important;
  min-width: 100px;
  box-shadow: none !important;
  border: 1px solid #dcdbdb;
}
.filter_option > span {
  text-transform: capitalize;
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.filter_option.active {
  background: #edfdf6;
  border: 1px solid #09884d;
}
.filterWith_option {
  overflow: scroll;
  margin: 20px 0 0;
  transition: all 0.5s ease-in-out;
}

.alertButton_action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
  background: #08ac60;
  border-radius: 30px;
}
.alertButton_action > span {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.filterSlide_tag::-webkit-scrollbar {
  display: none;
}
.option_container:first-child {
  padding: 26px 0 14px;
}
.option_container:not(:first-child):not(:last-child) {
  padding: 14px 0;
}
.option_container:last-child {
  padding: 14px 0 12px;
}

.alert_title_sort {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 36px;
}

.btnHideAll_hidden{
  pointer-events: none;
  opacity: .5;
}

.mobileHideAll_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mobileAlert_divContainer{
  background-color: #fff;
  width: 100%;
  padding: 20px 15px;
  border-radius: 12px;
  overflow-y: 'hidden';
}