.eventName {
    font-weight: bold;
    color: #333;
    font-size: 95%;
}

.attrLine{
    padding:3px 6px;
    border-bottom: solid 1px #eee;
    color: #555;
}

.basicLine{
    background-color: #f0f8fa;
}
.uaLine{
    background-color: #f4f4f8;
}
.customerLine{
    background-color: #e2e4ef;
}

.attrName{
    display:inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.attrOperator{
    display:inline-block;
    margin-right: 5px;
}

.attrValue{
    display:inline-block;
}

.resultConfig{
    margin-top: 8px;
    background-color: #f5fafa;
    padding: 6px 6px;
    border-radius: 6px;
}

.resultConfigLabel{
    font-size: 95%;
}

.resultLine{
    border: solid 1px #eee;
    padding:6px 6px;
    min-height: 36px;
}

.tag{
    display: inline-block;
    margin-right: 5px;
    padding: 3px 6px;
    border-radius: 8px;
    background-color: #555555;
    color: #eee;
    font-size: 90%;
}