.formControl{
    width: 100%;
    max-width: 500px;
}

.inlineControl{
    display: inline-block;
    margin-right: 12px;
    max-width: 400px;
}

.fullWidth{
    width: 100%;
}

.bottomSpacing{
    margin-bottom: 16px;
}

.splitter{
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding-top: 8px;
}

.title{
    font-size: 15px !important;
    font-weight: bold !important;
}

.filterCondition{
    padding: 10px 18px;
    background-color: #f3faff;
    border-radius: 5px;
}

.attributeLine{
    margin-bottom: 10px;
}

.resultConfiguration{
    padding: 10px 18px;
    background-color: #f3fffa;
    border-radius: 5px;
}

.multiSelect{
    width: 100%;
    max-width: 700px;
}

.tipDescription{
    margin-top: 16px;
    border-top: solid 1px #eee;
    background: #fafafa;
    font-style: italic;
    color: #555;
    padding: 12px 4px;
    border-radius: 7px;
}

