.close_button {
  position: absolute !important;
  right: 0;
  top: 0;
}

.address_dialog [class*='MuiDialog-paper'] {
  width: 60% !important;
}

.address_dialog [class*='MuiDialog-paperWidthSm'] {
  max-width: none !important;
}

@media (max-width: 1071px) {
  .address_dialog [class*='MuiDialog-paper'] {
    width: 100% !important;
  }
  .address_dialog [class*='MuiDialog-paper'] {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
