.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.note_container {
  width: 100%;
  padding: 17px 20px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 11px;
}
.top_note_content {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.top_note_content p {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.text_area {
  display: block;
  width: 100%;
  height: 100% !important;
  padding: 0.475rem 0.75rem;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5;
  color: #495057 !important;
  background-color: #fff;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important    ;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: vertical;
}
.text_area:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 180, 110, 0.25);
}
.note_content {
  margin-top: 14px;
  height: 123px;
}
.seller_items_container {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.seller_items_title {
  width: 100%;
  padding: 23px 0px 22px;
}
.item_container {
  width: 100%;
  padding: 17px 0px;
}
.divider {
  width: 100%;
  height: 1px;
  background: #e6e8ef;
}
.seller_items_title p {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.item_container p {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.fs_14 {
  font-size: 14px !important;
}
.avatar_seller {
  padding-left: 29px;
}
.text_seller_name {
  padding-left: 12px;
  font-family: ggsm !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-transform: capitalize !important;
  color: #0e1983 !important;
}
.sellerAvatar {
  display: flex;
  align-items: center;
}
.pr_39 {
  padding-right: 39px;
}
.btn_back_container {
  margin-top: 20px;
}
.btn_back {
  background: #08ac60;
  border-radius: 30px;
  padding: 10px 20px;
  height: 40px;
}
.btn_back span {
  font-family: ggsm;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: none;
}
.btn_back:hover {
  background: #067d45 !important;
}
.text_cart_empty {
  font-family: ggsr;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: none;
}
.text_product_name {
  font-size: 14px !important;
}
.text_product_name:hover {
  color: #067d45 !important;
}
.err_products {
  background-color: #fdecec;
}
.text_err_message {
  color: #ff4842 !important;
  padding-right: 35px;
}
.text_btn_del {
  color: #cf0606 !important;
}
.text_btn_del [class*='MuiSvgIcon-root'] {
  vertical-align: text-bottom !important;
}
.text_btn_del:hover {
  cursor: pointer;
  color: rgb(247, 30, 30);
}
