.accordion {
  box-shadow: none;
  background-color: transparent;
  padding: 0 1px 0 0;
}
.accordion:before {
  display: none;
}
.accordion-detail {
  padding: 0;
}
.accordion-detail [class*='MuiList-root'] {
  width: 100%;
}
.accordion-sumary p {
  font-weight: 500;
  font-size: 18px;
}
.accordion-sumary svg {
  color: #00b46e;
}
.accordionLink {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
  text-transform: capitalize;
  /* color: rgba(0, 0, 0, 0.87); */
}
.accordionLink:hover,
.accordionLink.active {
  color: #00b46e;
}
