.avatarCustomer {
  width: 168px;
  height: 168px;
  background: #fff;
}

.root_card {
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
  min-height: 100px;
  height: 100%;
}

.avatarWrap {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.card {
  padding: 75px 32px 25px 32px;
  background: #fff;
  border-radius: 10px;
  margin: 0 15px;
  height: 100%;
  max-height: 90%;
}

.customerName {
  font-family: 'googlesansmedium';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  margin: 30px 0 15px 0;
}

.content {
  font-family: 'googlesansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

@media (max-width: 768px) {
  .avatarCustomer {
    width: 130px;
    height: 130px;
  }

  .avatarWrap {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  .customerName {
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 576px) {
  .root_card {
    margin-top: 80px;
  }

  .avatarCustomer {
    width: 120px;
    height: 120px;
  }

  .avatarWrap {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@media (max-width: 376px) {

  .avatarWrap {
    transform: translate(-50%, 60%);
  }
}

/* New Mobile Ui */
.mobileRoot_card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  margin: 10px 0 0;
  border-radius: 10px;
  background: #F9F9FF;
}
.mobileAvatarCustomer{
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #09884D;
}
.mobileAvatarWrap{
  display:  flex;
  gap: 8px;
}
.mobileCard{
  padding: 0 8px;
}
.mobileContent{
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}