.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px!important;
}

.title {
  display: flex;
  flex: 1;
  color: black;
  justify-content: center;
}

.display_none {
  display: none;
}
@media (max-width: 767px) {
  .root{
    padding: 15px;
  }
  .addressGrid{
    padding-bottom: 0 !important;
  }
}
