
.eventListTableContainer {
    width: 100%;
    padding: 10px;
}

.eventListTable {
    border-collapse: collapse;
    width: 100%;
}

.eventListTable tr{
    height: 41px;
}

.eventListTable tr th {
    background-color: #eee;
    font-weight: bold;
    text-align: left;
}

.eventListTable td, .eventListTable tr th {
    padding: 3px 6px;
}

.eventListTable tr {
    border: #555 solid 1px;
}

.rightBorder{
    border-right: 1px solid #ccc;
}

.tableHead{
    background-color: #f0f0f0;
}


.eventListAction{
    padding: 10px;
    text-align: right;
}