.container {
  padding: 20px 10px;
  border: 1px solid #e0e6f3;
  border-radius: 12px;
  background-color: #ffffff;
}
.value {
  font-family: googlesansregular;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #586189;
}
.ingredient {
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  color: #586189;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-family: googlesansregular;
}

.ingredient:hover {
  color: #00b46e;
}

.total {
  font-size: 16px;
  text-align: center;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .ingredients {
    padding-bottom: 120px;
  }
  .item {
    padding-left: 0 !important;
  }
}
/* @media (min-width: 768px) {
  .total {
    font-size: 16px;
    padding: 4px 0px 26px 0px;
  }
}
@media (max-width: 768px) {
  .total {
    font-size: 16px;
    margin-bottom: 20px;
  }
} */
