.infoLine {
    display: flex;
    padding-bottom: 8px;
}

.label {
    width: 40%;
    font-weight: bold;
}

.value {
    width: 60%;
}

.cartLink{
    text-decoration: none !important;
    cursor: pointer;
    color:#00b46e;
}

.saleType div div div{
    display: none;
}

.tooltip {
    white-space: pre-line;
}

.valueLocation {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    word-wrap: break-word;
}

.link {
    text-decoration: none !important;
	cursor: pointer;
	color: #00b46e;
}
