.dropzone {
  text-align: center;
  padding: 10px;
  border: 2px dashed #09884d;
  border-radius: 8px;
  background-color: #fff;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  margin: auto;
}

.selected-file-wrapper {
  text-align: center;
}

.selected_file {
  color: #000;
  font-weight: bold;
}
.wrap {
  padding: 10px 14px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
}
.clearIcon {
  color: #afafaf;
  cursor: pointer;
}
.wrapImage {
  position: relative;
  border: 1px solid #09884d;
  border-radius: 5px;
  padding: 5px;
}
.inner {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
}
.preview {
  color: #09884d;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35em;
  text-align: left;
}
.image {
  object-fit: contain;
  cursor: pointer;
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.file:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
  }
  .preview {
    max-width: 20em;
  }
}

/* new Mobile UI */
.mobileWrap{
  background-color: #FFF;
  padding: 12px;
}
.mobileUpload_title{
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #797979;
  margin-bottom: 8px!important;
}
