.wrapper {
  padding: 0 12px 80px;
  width: 100%;
}

.cart_title {
  font-weight: 500 !important;
  font-size: 1.75rem !important;
}

.card_info {
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  z-index: 400;
}

.card_title_empty {
  margin-bottom: 1rem !important;
  text-align: center;
}

.card_button_empty {
  margin-right: 0 !important;
  text-transform: unset !important;
  font-size: 1rem !important;
}

.quick_order_wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .quick_order_wrapper [class*='product_title_wrap'] {
    padding-right: 30px !important;
  }
}

.search_input {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 400;
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.notFound {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 12px 16px;
  background-color: white;
  border-left: 2px solid transparent;
}

.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .search_input {
    position: fixed;
    top: 12px;
    left: 60px;
    right: 50px;
    padding: 0;
    background-color: transparent;
    box-shadow: none !important;
  }

  .search_input [class*='root_input'] {
    margin: 0;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid rgba(195, 204, 220, 0.4);
    border-radius: 0 !important;
    padding: 10px;
    line-height: 1;
    height: inherit;
    background-color: transparent;
  }

  .search_input [class*='root_input'] input {
    font-weight: 500 !important;
    font-size: 16px !important;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .product_content_column {
    max-width: 592px;
    width: 100%;
  }

  .quick_order_wrapper {
    max-width: 75%;
    flex-basis: 75%;
  }

  .mini_cart_rightside_wrapper {
    max-width: 25%;
    flex-basis: 25%;
  }
}

@media (max-width: 1040px) {
  .styleResponsive {
    top: 120px;
  }
}

@media (max-width: 959px) {
  .mini_cart_rightside_wrapper {
    margin-left: auto;
    margin-bottom: 30px;
  }
}

/* @media (max-width: 767px) {
  .styleResponsive {
    display: none;
  }
} */
