.content {
  width: fit-content;
  max-width: 80%;
  min-width: 10%;
  padding: 8px 8px 16px 8px;
  border-radius: 8px;
  margin-bottom: 2px;
  margin-top: 2px;
  position: relative;
  word-break: break-word;
  white-space: pre-wrap;
  font-family: 'ggsr';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.senderMessage {
  background-color: #edfdf6;
  border: 1px solid #b5e6cf;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}
.receiverMessage {
  background-color: white;
  border: 1px solid #d9d9d9;
}
.timeMessage {
  text-align: center;
  cursor: pointer;
  background-color: rgba(141, 141, 141, 0.08);
  color: rgba(88, 88, 88, 0.87);
  margin: 9px auto;
  padding: 0 8px;
  width: fit-content;
  word-break: break-all;
  min-width: 25%;
  border-radius: 24px;
  padding: 8px;
  transition: all 1s;
  margin-bottom: 8px;
}
.createdTime {
  color: gray;
  font-size: x-small;
  position: absolute;
  bottom: 0;
  right: 2px;
  text-align: right;
}
.boxFile {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 0.5rem;
}
.boxFile a {
  font-size: 14px;
  font-family: 'ggsr';
}

.container_avatar_cs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 16px 0 2px;
  max-width: 40px;
  min-width: 40px;
}
.container_sent {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin: 16px 0 2px;
}
.not_have_avt {
  opacity: 0;
  pointer-events: none;
}
.not_have_sent {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.messageContainer {
  display: flex;
  position: relative;
  transition: all 1s;
}

.messageContainer_customer {
  gap: 4px;
  justify-content: flex-end;
}
.messageContainer_cs {
  gap: 4px;
  justify-content: flex-start;
}

.imageColumn {
  float: left;
  height: auto;
  margin-bottom: 8px;
}

.imageRowMulti {
  column-count: 1;
  list-style-type: none;
}
.imageRow:after {
  content: '';
  display: table;
  clear: both;
}
.messageContent {
  padding: 0 5px;
}
.popupContainer_imgContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.popupContainer_img {
  width: 100%;
  height: 100%;
  max-height: 90%;
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
}
.chatModal_root {
  transition: all 1s;
  margin: 0 20px;
}
.chatBox {
  height: 100%;
  border: none;
}
.chatBox:focus-visible {
  outline: none;
}
.chatModal_root [class*='MuiBackdrop-root'] {
  background-color: rgba(0, 0, 0, 0.9);
}
.chatModal_actionBtn {
  color: #fff;
  padding: 12px 0;
}
.imgLink {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
  color: #000;
}
.imgLink img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imgLocal img {
  object-fit: contain !important;
}

.volume {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
  width: 100%;
}
.currentPrice {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.originalPrice {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #797979;
}
.nameProduct {
  font-family: ggsm;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  padding: 5px;
}
.percentageDiscount {
  position: absolute;
  width: 35px;
  height: 19px;
  left: 60px;
  top: 5px;
  background: #d4323b;
  border-radius: 7px 0px;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
  justify-content: center;
}
.listMessage_module_message_animation {
  animation: effect_highlight 2s linear 0.3s 1;
  transform-origin: center;
}

@keyframes effect_highlight {
  0% {
    background-color: #68d3a4;
  }
  100% {
    background-color: #f5f5f5;
  }
}

.statusOrder {
  display: flex;
  align-items: center;
  gap: 4px;
}
.statusLinkItem {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.textStatusOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
}
.wrapperTime {
  display: flex;
  gap: 4px;
  align-items: center;
}
.dateOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.methodPaymentOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.wrapperTotal {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.totalOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #797979;
}

.quantityOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.priceOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0e1983;
}
.statusOrder {
  display: flex;
  align-items: center;
  gap: 4px;
}
.statusLinkItem {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.textStatusOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
}
.methodPaymentOrder {
  font-family: ggsm;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.codeCouponOrder {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0e1983;
}
.mb {
  margin-bottom: 4px;
}
.addressOrder {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}

.orderId {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 0;
}
.titleLinkItem {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.wrapperStatusLinkItem {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 18px;
}
.statusLinkItem {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.wrapperTimeLinkItem {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 18px;
}
.labelTimeLinkItem {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #676565;
}
.typeTimeLinkItem {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.textSeeMore {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.textTimeLinkItem {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}
.messageOrder_fitContent {
  display: grid;
  grid-auto-rows: max-content;
  gap: 4px;
}

/* tag */
.product_tags {
  padding: 6px 5px 0;
}
.product_tags a {
  pointer-events: none;
}
.product_tags > * {
  margin-bottom: 5px;
  margin-right: 5px;
  max-width: max-content;
}
.product_tags > a [class*='tag_container'] {
  margin-bottom: 5px;
  max-width: max-content;
}
.product_tags_column {
  margin-bottom: 0 !important;
}
.mb8 {
  margin-bottom: 8px;
}
.rootCard {
  overflow: inherit;
}
