.btn:hover {
  cursor: pointer;
}
.error {
  color: red;
  width: 60%;
  text-align: start;
  margin: auto;
}
.text_warning_style {
  width: 80%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .error {
    width: 100%;
  }
  .text_warning_style {
    width: 99%;
  }
}
