.selectAreas {
    color: #000000;
    letter-spacing: 0.05em;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 19px;
    margin-bottom: 5px !important;
}
.rightBorder{
    border-right: 1px solid #ccc;
}

.tableHead{
    background-color: #f0f0f0;
}

.ctnFilter {
    width: 100%;
    display: flex;
    align-items: center;
}

.ctnFilter > p {
    margin-right: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    letter-spacing: 0.05em;
}

.ctnFilterComp {
    padding: 30px 20px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.tableHead {
    background-color: #E9E9E9;
    border-radius: 4px;
}

.tableHead th {
    border-right: 1px solid #d6d6d6;
}

.colLeftTable td {
    border-right: 1px solid #d6d6d6;
}

.loadCir {
    font-size: 12px;
    animation-duration: 450ms !important;
    color: #219653 !important;
    position: absolute;
}

.customChip {
    margin-right: 100px;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
    z-index: 999;
    display: flex;
    align-items: center;
    height: 25px;
    /* max-width: 119px; */
    padding-top: 3px;
    white-space: normal;
    overflow-wrap: anywhere;
    padding-bottom: 3px;
    font-size: 13px;
}

.ctnFilterRegion > div [class*='MuiAutocomplete-endAdornment']:nth-child(2) {
    margin-right: 100px;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 2px;
    z-index: 99;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.filterRegionUnset> div [class*='MuiAutocomplete-endAdornment']:nth-child(2) {
    margin-right: 0;
    background-color: unset;
}

.ctnHeader {
    padding: 12px;
    background-color: #0A66C2;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.ctnHeader P {
    font-size: 24px;
    color: #fff;
}
