.sellerInfo {
  background-color: #fff;
  margin-top: 30px;
  padding: 30px 20px 20px 15px;
}

.flagshipInfo {
  padding-left: 0;
}

.img {
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 30px;
  border: 1px solid #dcdbdb !important;
  border-radius: 12px !important;
  padding: 25px !important;
}

.fullImg {
  padding: 10px !important;
}

.imgSeller {
  -o-object-fit: contain;
  object-fit: contain;
}

.chip {
  color: #fff;
  border-radius: 11px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 25px;
}

.store {
  background-color: #09884d;
}

.flagship {
  background-color: #b98f0f;
}

.chip [class*='MuiChip-label'] {
  font-family: googleSansMedium !important;
}

.imgWrap {
  padding-left: 59px;
}

.imgWrapFlagship {
  min-width: 120px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
  line-height: 1.25;
  margin-left: 20px;
  width: 100%;
}

.label {
  font-size: 14px;
  margin-left: 5px;
  color: #636363;
}

.icon_label {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.years {
  background-color: #0e1983;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
}

.cooperator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.statistic {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .cooperator {
    justify-content: flex-start;
  }

  .statistic {
    margin-bottom: 7px;
  }

  .imgWrap {
    padding-left: 0;
  }
}

@media (max-width: 476px) {
  .sellerInfo {
    padding: 30px 15px 25px 15px;
  }

  .name {
    font-size: 20px;
    margin-bottom: 5px;
  }
}