.nav_wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  /* padding-right: 32px;
      max-width: 1290px;
      margin: 0 auto;
      width: 100%; */
}
.nav_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right_nav > div {
  margin-left: 32px;
}
.link,
.signup {
  color: #586189;
  padding-top: 2px;
}
.link:hover,
.signup:hover {
  color: #0cba69;
  cursor: pointer;
}
.primary_btn:hover {
  color: #fff;
  background-color: #0cba69;
}
.logo {
  display: inline-block !important;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_link {
  padding-bottom: 2px;
  margin-right: 9px;
}
