.alert {
  width: 80%;
  margin: auto;
  text-align: left;
}
.alert_mobile {
  text-align: left;
}
.link {
  color: #0e1983;
  font-size: 14px;
}
.contact {
  width: 100%;
}
.contact p {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-align: left;
}

.btn_area {
  margin: 30px 0;
}

.form_container {
  text-align: center;
  margin: 16px 15px;
}

/* for new mobile UI */
.mobileForm_container {
  text-align: center;
  margin: 16px 15px 7rem;
}
.mobileBtn_area {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: #fff;
  padding: 12px 15px 32px;
  z-index: 10;
}
.mobileBtn_update {
  background: #08ac60;
  border-radius: 30px;
  padding: 10px 25px;
  width: 100%;
}
