.confirm_modal_wrap {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 12px;
  background: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  outline: 0;
}
.modal_title {
  color: #797979;
  text-transform: capitalize;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.modal_content {
  margin-top: 20px;
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.btn_ic_close {
  position: absolute;
  top: 0px;
  right: 0px;
}
.btn_on_close {
  height: 40px;
  padding: 12px 32px;
  border: 1px solid #08ac60;
  border-radius: 30px;
}
.btn_on_close span {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #09884d;
}
.btn_ok {
  padding: 12px 32px;
  height: 40px;
  background: #08ac60;
  border-radius: 30px;
}
.btn_ok span {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn_ok:hover {
  background: #066538;
}
