.container {
  max-width: 364px;
  width: 100%;
  flex-wrap: nowrap !important;
  align-items: center;
  flex-direction: row-reverse;
}

.thumbnail {
  flex: 45%;
  flex-wrap: wrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.thumbnail::-webkit-scrollbar {
  display: none;
}

.thumbnailImage {
  height: 80px !important;
  width: 80px !important;
  border-radius: 6px;
  object-fit: contain;
}

.thumbnailSelected {
  border: 1px solid #f9b514 !important;
  padding: 0.25rem !important;
  opacity: 0.6;
}

.imgButtonBase {
  border-radius: 20px !important;
  margin-left: 15px !important;
}

.imageMain {
  height: 300px !important;
  width: 300px !important;
  border-radius: 20px;
  object-fit: contain;
}
.imageNotFound {
  height: 100% !important;
  width: 100% !important;
  border-radius: 20px;
}

.modalBackdrop {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalButton {
  height: 40px;
  width: 40px;
}

.modalImage {
  margin: 0 5px;
  height: auto !important;
  width: auto !important;
  border-radius: 20px;
  object-fit: contain;
  min-width: auto !important;
  max-width: 568px !important;
  max-height: 568px !important;
  padding: 20px !important;
  background-color: #fff;
}
@media (max-width: 767px) {
  .modalImage {
    padding: 20px !important;
    width: 100% !important;
  }
}
.modalImage:focus {
  outline: none;
}

@media (max-width: 767px) {
  .imgButtonBase {
    margin-left: 0 !important;
    margin-right: 10px !important;
  }
}
