.link {
  color: #0e1983;
  font-size: 14px;
}
.text {
  color: #636363;
  font-size: 14px;
}
.btn {
  color: #fff;
  background-color: #08ac60;
  text-transform: uppercase;
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-family: googleSansMedium;
  margin: 20px 0;
}
.btn:hover {
  background-color: #048b4c;
}
.paper {
  border-radius: 12px;
  box-shadow: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: googleSansRegular;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.text_lock {
  font-size: 22px;
  font-family: googleSansMedium;
  padding: 0 5px;
}
.contact {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .container {
    margin: 0 0 10px 0;
  }
  .paper {
    margin-top: 5px;
  }
}
