.wrapper_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  padding-top: 30px;
}

.wrapper_title_with_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 0 30px;
}

.title {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-transform: capitalize;
  margin-right: 20px;
}

.wrapper_date {
  background: #efefef;
  border-radius: 8px;
}

.date {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 4px;
  color: #0e1983;
}

.wrapper_time {
  background: #0e1983;
  border-radius: 8px;
}

.colon {
  padding: 6px 4px;
  font-weight: 500;
  font-family: googlesansmedium;
}

.time {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 4px;
}

.wrapper_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px 0 0;
}

.deactive_btn {
  color: #636363;
  background: #efefef;
  font-family: googlesansregular;
  border-radius: 8px;
  padding: 12px;
}

.active_btn,
.active_fromDate_btn {
  color: #ffffff;
  background: #dc5c00;
  font-family: googlesansregular;
  margin-left: 10px;
  padding: 12px;
  border-radius: 8px;
}

.active_btn:hover,
.active_fromDate_btn:hover {
  background: #dc5c00;
}

.will_active_btn {
  color: #0e1983;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  font-family: googlesansregular;
  margin-left: 10px;
  padding: 12px;
  border-radius: 8px;
}

.will_active_btn:hover {
  background: #ffffff;
}

.deactive_btn span span:first-child,
.active_btn span span:first-child,
.will_active_btn span span:first-child,
.active_fromDate_btn span span {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
}

.wrapper_see_all {
  padding-bottom: 20px;
}

.see_all {
  color: #0e1983;
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex !important;
  margin: 0 auto !important;
  justify-content: center;
  text-align: center;
  vertical-align: middle !important;
  user-select: none !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
