.media_wrapper {
  padding-top: 15px;
  background-color: #fff;
}

.dark {
  background-color: #343a40;
}

.container {
  max-width: 50rem !important;
  margin: 0 auto !important;
}

.hover_link {
  will-change: transform;
  transition: transform 0.2s;
  padding: 10px;
  text-align: center;
}

.hover_link:hover {
  transform-origin: center center;
  transform: scale(1.1, 1.1);
}

@media (max-width: 767px) {
  .center {
    font-size: 24px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
  }
  .container {
    padding: 20px;
  }
  .dark {
    padding: 10px;
  }
}
/* new mobile ui */
.hover_link > a > span{
  width: 100%!important;
}
.hover_link > a > span > img{
  object-fit: contain;
}