.headerTop {
  background-color: #ffffff;
  color: #586189;
  border-bottom: 1px solid #e0e5f3;
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
}
.logo {
  min-width: 122px;
  margin-top: 2px;
}
.headerTopLink {
  margin-left: 28px;
}
.headerIconLogged {
  display: flex !important;
  align-items: center;
  position: fixed;
  top: 31px;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  margin-left: auto;
  z-index: 99;
  border-bottom: 1px solid #e3e3e3;
  min-height: 48px;
}
.headerStatus {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.headerTopLink_content {
  color: #586189;
  display: flex;
  align-items: center !important;
  justify-content: center;
}
.headerTopLink_content p {
  line-height: unset !important;
  font-family: googlesansregular !important;
}
.headerTopLink_content > div {
  margin-right: 4px !important;
}
.headerTopLink_content > span {
  margin-right: 4px !important;
}
.headerTop_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}
.notifyWrap {
  background: #ffffff;
  width: 400px;
  max-width: 100%;
  border-radius: 5px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  top: 86px !important;
  border-top: 0.5px solid #ececec;
}
.notifyWrap [class*='MuiMenu-list'] {
  padding: 0;
}
.iconTopSeller {
  margin-bottom: 0px;
}
.notifyContentTop {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notifyTitle {
  margin: 0px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  font-family: googlesansregular;
}
.notifyStatus {
  margin: 0px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.57143;
  color: #a9a9a9;
  font-family: googlesansregular;
}
.markAll {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(0, 171, 85);
}
.notificationsItem {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 12px 20px !important;
  border-bottom: 1px solid rgba(145, 154, 163, 0.3);
}
.notificationsItem:hover {
  background-color: rgb(143 253 198 / 8%) !important;
}
.read {
  background-color: #ffffff !important;
}
.unRead {
  font-weight: bold !important;
}
.notifyIcon {
  max-width: 15%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 20px;
  background-color: #56ccf2;
}
.notifyContent {
  max-width: 80%;
  width: 100%;
  margin-left: 10px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 20px;
  background-color: #56ccf2;
}
.notifyContentTitle {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: rgba(0, 0, 0, 0.87);
  font-family: googlesansregular;
}
.notifyContentDescription {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.43;
  font-family: googlesansregular;
  color: rgba(0, 0, 0, 0.54);
}
.createdAt {
  margin-top: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  font-family: googlesansregular;
  color: rgb(145, 158, 171);
}
.viewAll {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  padding: 6px 8px !important;
  width: 100%;
}
.viewAll:hover {
  background-color: rgba(0, 171, 85, 0.08) !important;
}
.viewAllTitle {
  line-height: 1.7 !important;
  color: #00ab55 !important;
  font-family: googlesansregular;
  font-size: 14px !important;
}
.badge > span {
  top: 4px;
  right: 10px;
  height: 16px;
  width: auto;
  border: 1.5px solid #ffffff;
}
.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  position: relative;
}
.notice:hover {
  background-color: #ecf0fa;
  border-radius: 50%;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}
.avatar {
  flex-grow: 1;
  background-color: #ecf0fa;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar:hover {
  cursor: pointer;
}
.avatarIcon {
  width: 22px;
  height: 22px;
}
.profile_name {
  text-align: left;
  flex-grow: 1;
  margin-left: 4px;
  margin-right: 10px;
}
.profile_name > p {
  font-size: 15px;
  color: #202332;
  font-weight: 500;
  white-space: nowrap;
  width: 50px;
  font-family: googlesansmedium;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
  max-width: 90px;
}
@media (max-width: 680px) {
  .headerTop_wrapper {
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .headerTopLink {
    margin-left: 12px;
  }
}
@media (max-width: 480px) {
  .headerTopLink {
    margin-left: 4px;
    font-size: 14px;
  }
  .headerTopLink span {
    display: none !important;
  }
  .headerTopLink svg {
    display: none !important;
  }
  .headerTopLink .headerTopLink_content p {
    font-size: 13.5px;
  }
  .headerTop_wrapper {
    /* justify-content: space-between; */
    padding: 0 !important;
  }
  .headerTopLink .headerTopLink_content p {
    font-size: 13.5px;
  }
  .iconTopSeller {
    margin-bottom: 0;
  }
  .headerStatus {
    margin-left: 0;
    margin-right: 6px;
  }
  .notifyWrap {
    width: 342px;
    max-width: 342px;
  }
  .profile {
    margin-left: 12px;
  }
}
@media (max-width: 340px) {
  .headerTop_wrapper {
    padding: 0 !important;
  }
  .headerTop_wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 320px) {
  .notifyWrap {
    width: 290px;
  }
  .profile {
    margin-left: 12px;
  }
}
