.custom [class*="MuiDialog-paper"] {
  width: 100% !important;
}

.title {
  text-align: center;
  font-weight: 600;
}

.closeButton,
.title {
  color: #919aa3;
}

.root {
  margin: 0;
  padding: 6px 0px !important;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
}

.filterMobile a {
  color: #919aa3;
}

.filterMobile .active span {
  color: #00b46e;
}

.filterMobile .filter_btn {
  margin-right: 1em;
  margin-top: 0.5em;
  word-break: break-all;
  line-height: 1;
  overflow: hidden;
}

.filter_btn.active {
  border: 1px solid #00b46e;
}

.filterMobile .iconLeft,
.filterMobile .iconRight {
  color: #f9b514 !important
}

.filterMobile .iconLeft {
  margin-right: 4px;
}

.filterMobile .iconRight {
  margin-left: 4px;
}

.filter_btn {
  margin-right: 1em;
  margin-top: 0.5em;
  word-break: break-all;
  line-height: 1;
  overflow: hidden;
}

.filterMobile .accordionLink {
  cursor: pointer;
  display: block;
  padding: 3px 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
  text-transform: capitalize;
}

.filterMobile .accordionLink:hover,
.filterMobile .accordionLink.active {
  color: #00b46e;
}

.headline {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
}

.headline span {
  padding-left: 7px;
}

.accordionDetail {
  padding: 0 !important;
  display: block !important;
}

.group [class*="accordion"] {
  box-shadow: none;
  background-color: transparent;
  padding: 0 1px 0 0;
}

.group [class*="accordion"]:before {
  display: none;
}

.group [class*="accordion-detail"] {
  padding: 0;
}

.group .accordion-detail [class*="MuiList-root"] {
  width: 100%;
}

.group [class*="accordion-sumary"] p {
  font-weight: 500;
  font-size: 18px;
}

.group [class*="accordion-sumary"] svg {
  color: #00b46e;
}

.group .accordionLink {
  cursor: pointer;
  display: block;
  padding: 3px 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}

.group .accordionLink:hover,
.group .accordionLink.active {
  color: #00b46e;
}

.hr_clear {
  border-top: 1px solid rgba(195, 204, 220, 0.4);
  padding: 0;
  margin: 0;
}

.hr_space {
  border-top: 1px solid rgba(195, 204, 220, 0.4);
  padding: 0;
  margin: 20px 0 0;
}

.dialogContent {
  border: 0 !important;
  margin-bottom: 60px;
}

.dialogActions {
  justify-content: center !important;
  box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 1;
  background: white;
  bottom: 0;
}

.close {
  background-color: #00b46e !important;
  color: #fff !important;
  font-weight: 700;
}