.related_order {
  color: #00b46e !important;
  cursor: pointer;
  font-weight: bold !important;
}

.related_order:hover {
  color: #00683f !important;
}

.icon {
  color: #822900 !important;
  font-size: 15px !important;
}

.not_use {
  font-weight: 400;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  text-align: center;
}
.not_use[class*='MuiPaper-rounded'] {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.root {
  width: 100%;
  overflow: auto;
}

.root [class*='MuiTooltip-popperArrow'] {
  font-size: 54px !important;
}
