.headerProduct {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.headerProductTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.textHeader {
  font-family: ggsm;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}

.dateRange {
  font-family: ggsm;
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #dc5c00;
}
