.fullWidth [class*='MuiAlert-message'] { 
  width: 100%;
  padding: 4px;
}
.MuiAlert-message{
  width: 100%;
}
    .content {
      width:94%;
    }
    
@media (max-width: 777px) {
  .content {
    width:90%;
  }  
}

@media (max-width: 550px) {
  .content {
    width:80%;
  }  
}
