.link:hover {
  text-decoration: none !important;
  font-family: googlesansmedium;
}

.linkTitle {
  font-family: ggsr;
  flex: 0 0 auto;
  font-weight: 400;
  color: #797979;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-style: normal;
}

.active {
  color: #000000 !important;
  border-bottom: 2px solid #08ac60 !important;
  font-family: ggsm !important;

  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 15px !important;
}

.tabs {
  display: flex;
  background: #fff;
  justify-content: space-between;
  padding-top: 11px;
}

.flagshipTabs {
  padding-left: 0;
}

.tabsSeller {
  display: flex;
  padding-top: 30px;
  background: #fff;
  justify-content: space-between;
  padding-left: 59px;
}

.searchWrap {
  width: 50%;
  float: right;
}

.searchWrapSeller {
  width: 50%;
  float: right;
  padding: 0 16px 16px 0;
}

.link {
  flex: 0 0 auto;
  padding: 5px 5px 0 0;
}

.groupLink::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.groupLink {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 15px;
}
