.divider {
  margin-top: 1rem;
}
.head_popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_popup {
  color: #003366;
  font-weight: bold;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.fileName {
  color: #003366;
}
