.headerContainer {
  background-color: #fff;
}

.wrap * {
  font-size: 100%;
  font-family: googlesansregular;
}

.bannerWrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.generalInfo {
  padding: 30px 20px 15px 20px;
  text-align: justify;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-family: 'googlesansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-top: 50px;
}

.customer {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 60px 0;
  margin: 60px 0;
}

.avatarCustomer {
  width: 168px;
  height: 168px;
}

.infoLess p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description a{
	cursor: pointer;
}

.titleCustomer {
  font-family: 'googlesansmedium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}

.video {
  background: #010508;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px !important;
}

.video iframe,
.video video {
  border-radius: 10px !important;
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seeMoreBtn {
  font-family: 'googlesansmedium';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0E1983;
}

.titleIntro {
  font-family: 'googlesansmedium';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000000;
}

.container {
  padding: 0 !important;
}

.slider [class*='slick-track'] {
  display: flex !important;
  align-items: stretch !important;
}

.slider [class*='slick-slide'] {
  height: auto !important;
}

.slider [class*='slick-slide']>div {
  height: 80% !important;
}

@media (max-width: 1300px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  .customer {
    padding: 40px 0;
  }

  .titleCustomer {
    margin-bottom: 30px;
  }

  .video {
    max-height: 280px;
  }

  .infoLess p {
    -webkit-line-clamp: initial;
  }
}

@media (max-width: 476px) {
  .titleCustomer {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .video {
    max-height: 180px;
  }
}