.homeContainer {
  margin-top: 20px;
}
.generalInfo {
  padding: 20px 15px 0;
  text-align: justify;
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  box-shadow: none;
}
.titleIntro {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.descriptionWrapper {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}
.description {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: #000000;
  padding: 12px 0;
}
.description a {
  cursor: pointer;
}
.video {
  background: #010508;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px !important;
}

.video iframe,
.video video {
  border-radius: 10px !important;
}
.titleCustomer {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #09884d;
}
.slider [class*='slick-track'] {
  display: flex !important;
  align-items: stretch !important;
}

.slider [class*='slick-slide'] {
  height: auto !important;
}

.slider [class*='slick-slide'] > div {
  height: 80% !important;
}
.btnCollapse {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e1983;
  padding: 0;
}
.warpperBtnCollapse {
  margin: 12px 15px 20px;
}
.mobileContainer {
  background-color: #f4f7fc;
}
.customer {
  box-shadow: none;
  margin: 20px 0;
}

/* STYLE DOTS */

.customer [class='banner-slider-dots'] button {
  outline: none;
  font-size: 0px;
  border: none;
  background-color: transparent;
}

.customer [class='banner-slider-dots'] button::after {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #dcdbdb;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  transition: 0.2s;
}

.customer [class='slick-active'] button::after {
  background-color: #08ac60;
}

.customer [class='banner-slider-dots'] {
  display: flex;
  justify-content: center;
}

.customer [class='banner-slider-dots'] li {
  list-style: none;
  width: 12px;
}

.customer [class*='slick-list'] {
  font-size: unset;
}
