.product_card {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3px;
  align-content: stretch;
}

.container [class*='MuiPaper-elevation'] {
  box-shadow: none !important;
}

.product_tag {
  display: flex;
  position: relative;
  top: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #eaa403;
  border-radius: 0px 4px 4px 0px;
  padding: 2px 8px;
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  color: #1d0c0c;
}

.favorite_icon {
  color: red;
}

.favorite_icon_withnew,
.favorite_icon_withoutnew {
  display: inline-block;
  position: relative;
  top: 10px;
  color: #cdcdcd;
  font-size: 25px;
  cursor: pointer;
  padding: 12px 8px !important;
}

.favorite_icon_withnew:hover,
.favorite_icon_withoutnew:hover {
  color: red;
}

.content_container {
  margin-top: 5px;
}

.product_image a {
  justify-content: center;
  align-items: center;
}

.image {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 600px) {
  .favorite_icon_withnew {
    top: 12px;
    font-size: 28px;
  }

  .favorite_icon_withoutnew {
    top: 12px;
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .favorite_icon_withnew {
    top: 12px;
    font-size: 28px;
  }

  .favorite_icon_withoutnew {
    top: 12px;
    font-size: 26px;
  }
}

@media (min-width: 1280px) {
  .favorite_icon_withnew {
    top: 12px;
    font-size: 28px;
  }

  .favorite_icon_withoutnew {
    top: 12px;
    font-size: 26px;
  }
}