.link:hover {
  text-decoration: none !important;
  font-weight: 600;
}

.linkTitle {
  flex: 0 0 auto;
  font-weight: 500;
  color: #636363;
  font-size: 14px;
  padding-bottom: 15px;
  /* border-bottom: 2px solid #828282; */
  font-family: googlesansmedium !important;
}

.active,
.linkTitle:hover {
  color: #000 !important;
  border-bottom: 2px solid #00ab55 !important;
  font-family: googlesansmedium !important;
}

.tabs {
  display: flex;
  padding-top: 30px;
  background: #fff;
  justify-content: space-between;
}

.tabsSeller {
  display: flex;
  padding-top: 30px;
  background: #fff;
  justify-content: space-between;
  padding-left: 59px;
}

.searchWrap {
  width: 50%;
  float: right;
}

.searchWrapSeller {
  width: 50%;
  float: right;
  padding: 0 16px 16px 0;
}

.link {
  flex: 0 0 auto;
  padding: 0;
  padding-right: 50px !important;
}

.groupLink::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.groupLink {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}


@media (max-width: 1024px) {
  .searchWrap {
    width: 80%;
    float: left;
  }

  .searchWrapSeller {
    width: 80%;
    float: left;
  }
}

@media (max-width: 767px) {
  .searchWrap {
    width: 100%;
  }

  .searchWrapSeller {
    width: 100%;
  }

  .tabsSeller {
    padding-left: 18px;
  }
}

@media (max-width: 476px) {
  .link {
    padding-right: 20px !important;
  }
}