.wrapper {
    background-color: #f4f7fc;
    padding: 40px 0;
}

.link {
    cursor: pointer;
    font-weight: 400!important;
    padding: 17px 0!important;
    font-size: 16px!important;
    align-self: flex-start;
    border-bottom: 1px solid #dee2e6;
}

.link:hover {
    color: #00b46e!important;
}

.label {
    color: #fff;
    width: 174px!important;
    height: 34px!important;
    font-weight: 500!important;
    line-height: 2!important;
}

.outlined {
    border: 1px solid #00b46e!important;
    padding: 6px 12px!important;
}

.root {
    border-radius: 50px!important;
    background-color: #fff;
}

.root:hover span{
    transition: .6s all;
    color: black
}

.title {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
    color: #00b46e;
    font-weight: 500;
}
@media (max-width: 767px) {
    .center{
        font-size: 24px !important;
        margin-bottom: 0px !important;
    }
    .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}