.groupBtn {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px 21px;
}

.btn {
  flex: 0 0 auto;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #e9e9e9;
  font-family: ggsr;
  margin-right: 10px;
  font-size: 12px;
  padding: 3px 10px;
  vertical-align: middle;
}

.btnActive {
  color: #09884d !important;
  border-color: #09884d !important;
  background-color: #ddf4ea !important;
}

.groupBtn::-webkit-scrollbar {
  display: none;
}

/* detail program  */
.containerDrawer {
  height: max(550px, 85vh);
}
