.headerContainer {
  background-color: #fff;
}

.wrap * {
  font-size: 100%;
  font-family: googlesansregular;
}

.generalInfo {
  border: 1px solid #e3e3e3;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-top: 76px;
  padding: 25px 20px;
}

.customer {
  border: 1px solid #e3e3e3;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 0 60px;
  margin: 30px 0;
  padding-bottom: 30px;
}

.avatarCustomer {
  width: 168px;
  height: 168px;
}

.infoLess {
  overflow: hidden;
  max-height: 120px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.titleCustomer {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 63px;
  margin-bottom: 50px;
}

.video {
  border-radius: 20px;
}

@media (max-width: 640px) {
  .customer {
    padding: 0 10px;
  }
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seeMoreBtn {
  color: #0e1983;
  font-weight: bold;
}

.titleIntro {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container {
  padding: 0 !important;
}

.slider [class*='slick-track'] {
  display: flex !important;
  align-items: stretch !important;
}

.slider [class*='slick-slide'] {
  height: auto !important;
}

.slider [class*='slick-slide']>div {
  height: 80% !important;
}