.drawerContainer {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: max(400px, 70vh);
  font-family: 'ggsr';
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  text-transform: capitalize;

  /* Neutral/Dark Text */

  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 17px 20px;
  position: sticky;
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  z-index: 10;
  text-transform: capitalize;

  /* Neutral/Dark Text */

  color: #000000;
}


.iconButton {
  padding: 5px;
  align-self: flex-end ;
}

.content {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}
.bottomSection {
  background-color: red;
  margin: 20px;
}
