.container {
  display: flex;
  flex-direction: row;
  min-width: 185px;
  align-items: center;
  --height-mobile: 22px;
  --border-mobile: 3px;
}

.container_mobilev2 {
  min-width: unset;
}

.wrapper_date {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 8px;
  flex-shrink: 0;
}

.wrapper_date.wrapper_date_mobile {
  height: var(--height-mobile);
  border-radius: var(--border-mobile);
}

.date {
  font-family: ggsm;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 5px;
  color: #0e1983;
}

.wrapper_time {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1983;
  border-radius: 8px;
  width: 28px;
  flex-shrink: 0;
}

.wrapper_time.wrapper_time_mobile {
  font-size: 14px;
  height: var(--height-mobile);
  border-radius: var(--border-mobile);
}

.colon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  font-weight: 500;
  font-family: googlesansmedium;
}

.time {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 4px;
}

@media screen and (max-width: 500px) {
  .container {
    justify-content: flex-end;
    min-width: unset;
  }
}

@media screen and (max-width: 767px) {

  .date,
  .time {
    font-size: 13px;
    line-height: 16px;
    padding: 4px 3px;
  }

  .colon {
    padding: 4px 3px;
  }
}

/* style for mobile v2  */

.wrapper_time_mv2,
.wrapper_date_mv2 {
  border-radius: 3px;
}