.confirm_modal_wrap {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-width: auto !important;
    border-radius: 12px;
    background: #fff;
    font-family: inherit;
    font-size: 16px;
    outline: 0;
    padding: 24px 22px 24px 22px;


}

.wrapMoalLoad {
    min-width: 574px;
    min-height: 569px;
}

.modal_title {
    display: flex;
}

.modal_title>p {
    font-family: ggsm;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px !important;
    margin: 0 auto !important;
}

.confirm_modal_wrap svg {
    cursor: pointer;
}

.counpon_list {
    max-height: 70vh !important;
    overflow-y: scroll !important;
    overflow-x: none !important;
    margin-top: 20px;

    border-radius: 12px !important;
    min-width: 390px;
    width: 574px;
    height: 569px;

}

.coupon_card_grid {
    padding: 0 !important;
    margin-right: 4px;
}

.close {
    font-size: 24px;
    color: #C0C0C0;
}

.clearSearch {
    color: #C0C0C0;
    margin-right: 10px;
    font-size: 20px;
}

.wrapAction {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.inputV2Promo {
    min-width: 445px;
}

.loadLogo {
    height: 495px;
    display: flex;
    
    justify-content: center;
}

.wrapTitleLoad {
    justify-content: space-between;

}

.button {
    background-color: #08AC60;
    color: #fff;
    font-family: ggsm;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end !important;
    padding: 10px 22px;
}

.loadingPopup {
    width: 530px;
    min-width: 390px;
}

.titleLoading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.loadingLogo {
    display: flex;
    justify-content: center;
    min-height: 100% !important;
    min-width: 100%;
    align-items: center;
    height: 494px;
    width: 500px;
}

.wrapLoading {
    width: 100%;
    height: 100%;
}

.button:hover {
    background-color: #24bb74;
}

.counpon_list [class*='MuiGrid-spacing-xs-1'] {
    width: 100% !important;
}

.counpon_list [class*='infinite-scroll-component'] {
    overflow: unset !important;
}

.loadMore {
    text-align: center;
    font-family: ggsm;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del_promo {
    cursor: pointer;
}

.not_yet {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: ggsm;

}

.hiddenLoad {
    display: none;
}

.LoadCircle {
    color: #08AC60;
    animation-duration: 550ms;
    margin-right: 4px;
}

.notCode {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (min-width: 768px) {
    .confirm_modal_wrap {
        min-height: 580px;
    }
} */


@media (orientation: landscape) {
    .confirm_modal_wrap {
        min-height: 400px;
    }

}

@media (max-width: 599px) {
    .wrapBtnSearch {
        justify-content: flex-start;
        margin-top: 4px;
    }

    .inputV2Promo {
        max-width: unset;
    }

}