.contentPadding {
  padding: 12px;
}

.form {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}

.formControl {
  width: 200px;
  margin: 10px;
}

.rightGroup {
  float: right;
  align-items: center;
}

.search {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.grid {
  margin-bottom: 10px;
}

.input {
  flex: 1;
  margin-left: 3px;
}

.iconButton {
  padding: 10px;
}

.textSearch {
  color: green;
  padding: 10px;
}

.overflowWrap {
  overflow-wrap: anywhere;
}

.media_content {
  height: 135px;
}