.iconButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.iconButton [class*='icon'] {
  padding: 0px;
}
.desc p {
  font-family: ggsr;
}
.desc [class*='login'] {
  color: #09884d;
  cursor: pointer;
}

.headerSignUp {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 12px;
  z-index: 10;
}

.slideLeft {
  animation: slide-left 300ms;
}
.slideRight {
  animation: slide-right 300ms;
}
.overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}

.mt {
  margin-top: 60px;
}

@keyframes slide-right {
  0% {
    opacity: 0.5;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
