.wrapper {
  display: block;
  background-color: #f4f7fc;
}
.product_main [class*='product_title'] {
  color: #00b46e;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 28px;
}
.product_main {
  width: 100%;
}

.product_main .empty {
  margin-top: 30px;
}
.empty_center {
  text-align: center;
}
.product_listing {
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: ggsr;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}
