.modalContent_container {
  position: absolute;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  z-index: 610;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  left: 0;
  z-index: 98;
  height: 100%;
}
.sidebar_content {
  margin-top: 64px;
}
.sidebar__user_container {
  background-color: #08ac60;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sidebar__user_name {
  padding: 8px 4px;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.sidebar__user_tier {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: ggsr;
}
.sidebar__user_avatar {
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.sidebar__user_avatar img {
  max-width: 64px;
  height: auto;
}
.sidebar__point_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.sidebar_user_waller,
.sidebar_user_bonus_point {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unit {
  padding: 0 8px;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: #09884d;
}
.divine_line {
  height: 50%;
  width: 1px;
  background-color: #e9e9e9;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 15px;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column !important;
  margin: 0;
}
.items > li {
  margin: 8px 0;
}

.sidebar__header {
  margin: 0;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 4px;
}

.sidebar__item_link {
  display: flex !important;
  align-items: center;
  padding: 14px 16px;
  gap: 12px;
  background-color: #fff;
  border-radius: 8px;
}
.sidebar__item_link > span > img,
.sidebar__item_link > svg,
.sidebar__item_link > span {
  filter: brightness(0) saturate(100%) invert(35%) sepia(75%) saturate(6752%) hue-rotate(149deg) brightness(94%) contrast(93%);
}
.iconArrow_right {
  order: 3;
  margin-left: auto;
}
.boxConnect {
  display: flex;
  gap: 16px;
  padding: 14px 16px;
  align-items: center;
  justify-content: space-between;
}
.connectIcon {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
