.image {
  object-fit: scale-down;
  background-color: #fafbff;
}
.slider :global(.slick-dots li) {
  background-color: rgb(149, 172, 156);
}
.slider :global(.slick-dots .slick-active) {
  background-color: rgb(35, 151, 70);
  border-radius: 50%;
  width: 8px !important;
}
.item {
  width: 100%;
  margin: auto;
  display: flex !important;
  justify-content: center !important;
}
