.headerContainer {
  background-color: #fff;
}

.wrap * {
  font-size: 100%;
  font-family: ggsr;
}

.generalInfo {
  text-align: justify;
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  box-shadow: none;
}

.customer {
  box-shadow: none;
  margin-bottom: 20px;
}

.avatarCustomer {
  width: 168px;
  height: 168px;
}

.infoLess {
  overflow: hidden;
  max-height: 120px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: ggsr;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.titleCustomer {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #09884d;
}

.video {
  border-radius: 20px;
  padding: 20px 15px;
  height: 240px !important;
}
.video div iframe {
  border-radius: 12px;
}

.descriptionWrapper {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 20px 15px;
}
.warpperBtnCollapse {
  margin: 0 15px 0 0;
}
.btnCollapse {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e1983;
  padding: 0;
}
.titleIntro {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}

.container {
  padding: 0 !important;
  margin-top: 20px;
}

/* STYLE DOTS */

.customer [class='banner-slider-dots'] button {
  outline: none;
  font-size: 0px;
  border: none;
  background-color: transparent;
}

.customer [class='banner-slider-dots'] button::after {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #dcdbdb;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  transition: 0.2s;
}

.customer [class='slick-active'] button::after {
  background-color: #08ac60;
}

.customer [class='banner-slider-dots'] {
  display: flex;
  justify-content: center;
}

.customer [class='banner-slider-dots'] li {
  list-style: none;
  width: 12px;
}

.customer [class*='slick-list'] {
  font-size: unset;
}

/* STYLE DOTS */

.customer [class='banner-slider-dots'] button {
  outline: none;
  font-size: 0px;
  border: none;
  background-color: transparent;
}

.customer [class='banner-slider-dots'] button::after {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #dcdbdb;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  transition: 0.2s;
}

.customer [class='slick-active'] button::after {
  background-color: #08ac60;
}

.customer [class='banner-slider-dots'] {
  display: flex;
  justify-content: center;
}

.customer [class='banner-slider-dots'] li {
  list-style: none;
  width: 12px;
}

.customer [class*='slick-list'] {
  font-size: unset;
}

.slider [class*='slick-track'] {
  display: flex !important;
  align-items: stretch !important;
}

.slider [class*='slick-slide'] {
  height: auto !important;
}

.slider [class*='slick-slide'] > div {
  height: 80% !important;
}

.expand_ic {
  font-size: 18px;
  color: #0e1983;
}
