.headInvocie {
  width: 100%;
  margin-top: 16px;
}
.headInvocie [class*='divider'] {
  padding-top: 16px;
}

.titleSellerInvoice {
  padding-left: 16px;
  padding-right: 16px;
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: capitalize;
}
