.infoOrderRed {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrapTopBox {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    padding: 10px 18px !important;
    box-sizing: border-box;
 
}
.myOrder p {
    color: #202332;
    font-family: googlesansmedium;
    font-size: 24px !important;
}
.infoOrderRed > p { 
    font-family: googlesansregular;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px;
}
.infoOrderRed > a {
    color: #0E1983;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    font-family: googlesansmedium;
}
.StyleInputV2 {
    margin-left: 6px;
    width: 130px;
    max-width: 130px;
    min-width: 130px;
}
.wrapBottomBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.codeOrder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: googlesansmedium;
    color: #000000;
    text-transform: capitalize;
}
.from{
    margin-right: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: googlesansregular; 
    color: #000000;
    text-transform: capitalize;
}
.or {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: googlesansmedium;
    color: #636363;
}
.BtnSearch {
    background-color: #08AC60;
    color: #ffffff;
    font-family: googlesansmedium;
    min-width: 80px;
}
.wrapCodeOrder {
    min-width: 186px;
}

@media (max-width: 1180px) {
    .wrapBottomBox {
        flex-wrap: wrap;
    }
    .or {
        display: none;
     }
     .wrapCodeOrder {
         margin-bottom: 10px;
         max-width: unset;
     }
     .wrapSearchNameOrder {
         margin: 10px 0px 10px;
     }
     .wrapSearchNameOrder > div {
         margin-left: 26px;
     }
     .from {
       margin-right: 4px;
     }
}
@media (max-width: 600px) {
    .infoOrderRed {
        justify-content: flex-start;
    }
}