.order_id {
  display: inline;
  font-size: 1.8rem;
  color: #00b46e;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.order_detail_label {
  color: #919aa3;
  font-weight: 500;
}

.justify_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

.price_small_screen {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.indicator {
  display: none !important;
}

.paper {
  padding: 30px;
  margin-bottom: 8px;
}

.paper_popup {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 715px) {
  .tabs {
    display: none !important;
  }
}

.tabs [class*='MuiTabs-flexContainer'] {
  display: unset !important;
}

.delivery_date {
  color: #919aa3;
  font-weight: 500;
  margin-top: 10px;
}

.status_button {
  text-transform: none !important;
  color: white !important;
  background-color: #919aa3 !important;
  padding: 0px 5px !important;
  font-size: 18px !important;
}

.detail_small_screen {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.not_order_container {
  display: flex;
  flex-direction: column;
}

.not_order_title {
  text-align: center;
  margin: 1rem 0;
}

.gridBtn {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .order_id {
    font-size: 22px;
  }

  .order_status {
    padding-top: 0 !important;
  }

  .order_status button {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .grid {
    padding: 8px !important;
    margin: auto;
  }

  .grid [class*='my-order__button'] {
    padding: 2px 0.5rem !important;
  }
}

.status_export {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .gridBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .gridBtn button {
    width: 200px !important;
    max-width: calc(100% - 10px) !important;
  }
}