.editBtn {
  color: #ffffff;
  background-color: #08AC60 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #08AC60;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: googlesansmedium !important;
  border-radius: 20px;
  height: 28px;
  width: 120px;
  gap: 4px;
}

.editBtn:hover {
  background-color: #069e57 !important;
}

.disableBtn {
  color: #797979 !important;
  background-color: #F0F0F0 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #F0F0F0;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: googlesansmedium !important;
  border-radius: 20px;
  height: 28px;
  width: 120px;
  gap: 4px;
}

.order_edit_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 60px !important;
  color: #09884D;
  font-family: ggsm;
  padding: 10px 30px;
  border: 1px solid #08AC60;
}

@media screen and (max-width: 1260px) {
  .order_edit_btn {
    padding: 8px 30px !important;
  }
}

@media screen and (max-width: 550px) {
  .order_edit_btn {
    padding: 8px 20px !important;
  }
}