.rightGroup {
    float: right;
    align-items: center;
}

.btnDialog {
    float: right;
    align-items: center;
    margin: 12px;
}

.search {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.grid {
    flex-grow: inherit;
    margin-bottom: 10px;
}

.contentPadding {
    padding: 12px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.formControl {
    width: 200px;
    margin: 10px;
}

.input {
    flex: 1;
    margin-left: 3px;
}

.iconButton {
    padding: 10px;
}

.textSearch {
    color: green;
    padding: 10px;
}

.root {
    flex-grow: 1
}

.paper {
    padding: 2px;
    text-align: center;
}

.buttonConfirm {
    width: 100%;
}

.buttonConfirmRight{
    margin-left: auto !important;
}

.rootCard {
    margin: 10px;
}

.blockSearch {
    padding: 0 20px;
}

.select {
    width: 100%!important;
}

.MuiInputBase-root {
    width: 100%;
}

.modalBody {
    background: #FFF;
    width: 50%;
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    min-height: inherit;
    max-height: 80vh;
    border-bottom: 1px solid #eeeeee;
}

.modalContent {
    max-height: 50vh;
}

.modalBodyCreate {
    background: #FFF;
    width: 30%;
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    min-height: inherit;
    max-height: inherit;
    border-bottom: 1px solid #eeeeee;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalFooter {
    text-align: right;
    align-items: flex-end;
    width: 100%;
}


.headerModal {
    margin-top: 0;
    text-align: center;
}

.buttonSearch {
    margin-left: auto !important;
}

.radioButton {
    width: 100%;
    margin: 1rem 0;
}

.hoverSpan :hover{
    font-weight: bold;
}

/* .marginLine {
    margin-top: 2rem;
} */

.textItalic {
    font-style: italic;
    font-size: 12px;
    margin-top: 0.5rem;
    font-weight:  300;
    color: #828282;
}

.titleLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 200% */

    letter-spacing: 0.15px;

    color: #353434;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.titleLabelCondition {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 0px;
    letter-spacing: 0px;
    color: #353434;
    margin-block-start: 0;
    margin-block-end: 0;
}

.marginLinePromotion {
    margin-top: 16px !important
}

.marginLineAutocompletePromotion {
    margin-top: 3px !important
}

.textInfoPromotion {
    font-weight: bold;
}
