.wrapper_title {
  display: flex;
  align-items: center;
  margin: 30px 0 0 30px;
}

.wrapper_title_with_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 30px 0 0 30px; */
}

.wrapper_title span:first-child,
.wrapper_title_with_date span:first-child {
  margin-right: 0px !important;
}

.wrapper_icon_name {
  width: fit-content;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
  width: 72px;
  height: 72px;
}

.title {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-transform: capitalize;
  margin-right: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 36px;
  margin-left: 6px;

}

.wrapper_date {
  background: #efefef;
  border-radius: 8px;
}

.date {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 4px;
  color: #0e1983;
}

.wrapper_time {
  background: #0e1983;
  border-radius: 8px;
}

.colon {
  padding: 6px 4px;
  font-weight: 500;
  font-family: googlesansmedium;
}

.time {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 6px 4px;
}

@media screen and (max-width: 767px) {
  .wrapper_title {
    padding: 20px 20px 0 13px;
    align-items: inherit;
    flex-basis: auto;
    margin: 0 !important;
  }

  .wrapper_title_with_date {
    /* padding: 20px 20px 0 13px; */
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 !important;
  }

  .title {
    font-size: 18px;
    margin-right: 5px;
    width: auto;
    height: auto;
  }

  /* .wrapper_title_with_date span:first-child,
  .wrapper_title span:first-child {
    height: 30px !important;
    width: 30px !important;
  } */

  .wrapper_icon_name {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {

  /* .wrapper_title_with_date span:first-child,
  .wrapper_title span:first-child {
    height: 20px !important;
    width: 20px !important;
  } */
}

/* style for mobile v2 */

.title_mv2 {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  margin-top: 6px;
  text-transform: capitalize;
}

.wrapper_title_with_date_officon {
  padding: 0px;
}

.wrapper_title_with_date_mv2 {
  padding: 0px;
  margin: 25px 25px 25px 25px;
}

.wrapper_titlem_mv2 {
  padding-top: 0px !important;
}

.wrapper_icon_mv2 {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  padding-top: 4px;
  margin-right: 5px;
}