.blockTitle {
  padding: 20px 15px 0 ;
}
  
.container {
  padding: 0 !important;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  max-width: 1304px !important;
}

.viewAll {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0E1983;
  padding: 1px 0 20px;
}
