@media only screen and (min-width: 800px) {
    .flexContainer {
        display: flex;
        flex-direction: row;
        margin: 0 -10px;
    }
    .flexContainer .flexContent {
        width: 50%;
        padding: 0 10px;
    }
}

.infoLine{
    line-height: 1.5;
    font-size: 110%;
    padding: 3px 6px;
}

.infoLine:nth-child(even){
    background: #eee;
}

.infoLine .label{
    display:inline-block;
    width: 45%;
}

.infoLine .value{
    display:inline-block;
    width: 35%;
    text-align: right;
    font-weight: bold;
}

.infoLine .percentage {
    display:inline-block;
    width: 20%;
    text-align: right;
}

.infoLine .percentage.positive{
    color: green;
}

.infoLine .percentage.negative{
    color: red;
}

.chartPanel:not(:first-child){
    margin-top: 24px;
}

.chartItemLabel{
    cursor:pointer;
}