.rightBorder {
  border-right: 1px solid #C4C4C4;
}

.leftBorder {
  border-left: 1px solid #C4C4C4;
}
.headTable {
    font-size: 14px;
    background-color: #f0f0f0 !important;
}

.textHead {
  font-weight: bold;
  color: #000000;
}

.asyncSignal {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 20px !important;
  height: 20px;
  color: #219653;
}