.container {
  background-color: #f4f7fc;
  margin-bottom: 40px;
}

.containerMobile {
  padding-left: 16px;
  padding-right: 16px;
}

.image {
  object-fit: contain;
}

@media (max-width: 767px) {
  .container {
    margin-bottom: 85px;
  }
}

.homeContainer {
  margin-top: 20px;
}

.generalInfo {
  padding: 20px 15px;
  text-align: justify;
  font-family: 'googlesansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  box-shadow: none;
}

.titleIntro {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.descriptionWrapper {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}

.description {
  font-family: ggsr;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: #000000;
}

.description a {
  cursor: pointer;
}

.btnCollapse {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e1983;
  padding: 0;
}

.warpperBtnCollapse {
  margin: 12px 15px 20px;
}

.mobileContainer {
  background-color: #f4f7fc;
}

/* style list-product  */

.leftToRight {
  animation: moveLeftToRight 0.2s linear forwards;
  height: 100%;
}

@-webkit-keyframes moveLeftToRight {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.headerContainer {
  display: flex;
  width: 100%;
  padding:7px 15px 7px 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ffffff;
}

.btnBack {
  padding: 0 8px;
}

.textField {
  flex: 1;
}

.root_input {
  border: 1px solid #dcdbdb;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 40px;
  display: flex;
}

.root_input input {
  padding: 0px !important;
  height: 100%;
}

.root_input>div::before,
.root_input>div::after {
  display: none;
}

.root_input>div>input::placeholder {
  font-size: 14px;
}


.root_input:focus-within {
  border: 1px solid #08ac60;
}

.searchIcon {
  border-radius: 50%;
  background-color: #08ac60;
  padding: 6px 8px;
  margin-left: 10px;
}

.searchIcon span {
  transform: scale(0.8);
}

.listProductSection {
  margin-top: 10px;
  padding: 0px 15px;
  overflow: hidden;
}

.emptyText {
  color: #797979;
  font-family: 'ggsm';
  margin-left: 15px;
  margin-top: 12px;
}

/* styles index */
.redirect {
  font-family: 'ggsm';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* Blue/Text Link */

  color: #0e1983;
}

.titleName {
  font-family: 'ggsm';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.totalProduct {
  font-size: '15px';
  font-family: 'ggsm';
  margin-left: var(--mobile-container-spacing);
}
.storeName {
  text-align: center;
  font-family: 'ggsm';
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: 21px;
}