.container {
  max-width: 1304px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.wrapper_breadcrums {
  margin: 40px 0 0 0;
  padding: 5px;
}

.wrapper_slider {
  padding: 20px 0px;
}
.wrapper_breadcrums nav li a {
  text-decoration: none;
  color: #868585;
  font-family: googlesansmedium;
}

.wrapper_breadcrums nav li:last-child a {
  text-decoration: none;
  color: #292929;
  font-family: googlesansmedium;
}

.wrapper_slider [class*='slick-dots'],
.wrapper_multi_slider [class*='slick-dots'] {
  bottom: -40px;
}

.wrapper_slider [class*='slick-dots'] [class*='slick-active'],
.wrapper_multi_slider [class*='slick-dots'] [class*='slick-active'] {
  width: 8px !important;
  height: 8px !important;
  background-color: #0cba69;
}

.wrapper_slider [class*='slick-arrow'] {
  z-index: 1;
  color: #fff !important;
}

.wrapper_slider [class*='slick-next'] {
  right: 30px;
  width: 32px;
  height: 32px;
}

.wrapper_slider [class*='slick-prev'] {
  left: 30px;
  width: 32px;
  height: 32px;
}

.wrapper_slider [class*='slick-prev']::before,
.wrapper_slider [class*='slick-next']::before,
.wrapper_multi_slider [class*='slick-prev']::before,
.wrapper_multi_slider [class*='slick-next']::before {
  content: '';
}

.wrapper_multi_slider {
  margin: 60px 0;
}

.wrapper_slider_img {
  border-radius: 20px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 100%;
}

.wrapper_slider_img span {
  height: 400px !important;
}

.icon_img {
  margin: 0 !important;
  text-align: center;
}

.wrapper_slider [class*='slick-next'] svg,
.wrapper_slider [class*='slick-prev'] svg,
.wrapper_multi_slider [class*='slick-next'] svg,
.wrapper_multi_slider [class*='slick-prev'] svg {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.wrapper_slider [class*='slick-next'] path,
.wrapper_slider [class*='slick-prev'] path,
.wrapper_multi_slider [class*='slick-next'] path,
.wrapper_multi_slider [class*='slick-prev'] path {
  color: #ffffff;
}

.wrapper_multi_slider [class*='slick-next'] {
  right: -25px;
  width: 32px;
  height: 32px;
}

.wrapper_multi_slider [class*='slick-prev'] {
  left: -25px;
  width: 32px;
  height: 32px;
}

.small_slider_img {
  height: 200px;
  margin: 8px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS FOR PROMOTIONCODE COMPONENTS */
.pagging {
  margin: 30px;
}

.pagging [class*='MuiPagination-ul'] {
  justify-content: center;
}

.pagging nav ul li:first-child button,
.pagging nav ul li:last-child button {
  color: #868585;
  background: none;
}

.pagging [class*='MuiPaginationItem-page Mui-selected'] {
  color: #09884d !important;
  border: 1px solid #09884d;
  background: none;
  height: 24px;
  width: 24px;
  min-width: auto;
}

.pagging [class*='MuiPaginationItem-page Mui-selected']:hover {
  background: none;
}

.pagging [class*='MuiPaginationItem-page'] {
  color: #0e1983;
  background: none;
  font-family: googlesansmedium;
}

/* product skeleton */
.skeContainer {
  padding: 0 10px;
}

.skeContainer [class*='pagingSkeleton'] {
  margin-top: 20px;
}

/* slider skeleton */
.skeleton_wrapper [class*='pagingSkeleton'] {
  margin-top: 20px;
}

/* slug */
.products_wrapper {
  margin: 60px 0;
}

.wrapper_title [class*='wrapper_title_with_date'] {
  margin: 0 0 20px 0;
}

.wrapper_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0 0;
}

.btn_campaign {
  font-family: googlesansregular;
  margin-left: 10px;
  padding: 12px;
  border-radius: 8px;
}

.will_active_btn {
  color: #0e1983;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.active_btn,
.active_fromDate_btn {
  color: #ffffff;
  background: #dc5c00;
  font-family: googlesansregular;
}

.active_btn:hover,
.active_fromDate_btn:hover {
  background: #dc5c00;
}

.deactive_btn {
  color: #636363;
  background: #efefef;
}

.selected_btn {
  color: #09884d;
  background-color: #ddf4ea;
  border: 1px solid #e3e3e3;
}

.selected_btn:hover {
  background-color: #ddf4ea;
}

.active_btn span span:first-child,
.will_active_btn span span:first-child,
.active_fromDate_btn span span,
.selected_btn span span:first-child {
  font-family: googlesansmedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .wrapper_slider [class*='slick-dots'] {
    bottom: -8px;
  }

  .wrapper_slider [class*='slick-slide img'] {
    height: 200px;
  }

  .wrapper_slider_img,
  .wrapper_slider [class*='slick-list'] {
    height: 200px;
  }

  .wrapper_slider_img span {
    height: 200px !important;
  }

  .title_wrapper {
    display: block;
  }

  .will_active_btn:first-child {
    display: block !important;
  }

  .deactive_btn span span:first-child,
  .active_btn span span:first-child,
  .will_active_btn span span:first-child,
  .active_fromDate_btn span span,
  .selected_btn span span:first-child {
    font-size: 14px;
    line-height: 18px;
  }

  .active_fromDate_btn {
    padding: 8px;
  }

  .wrapper_buttons {
    display: flex;
    justify-content: center;
    margin: 6px 0 0 0;
  }

  .wrapper_buttons button:first-child {
    margin-left: 0;
  }
}
.deals {
  font-family: googlesansmedium;
  margin-bottom: 15px;
}
.see_more p {
  font-size: 20px !important;
  color: #0e1983;
  font-family: googlesansmedium;
}
@media screen and (max-width: 500px) {
  .wrapper_breadcrums {
    margin: 30px 0 0 0;
  }

  .grid {
    width: 100%;
  }

  .wrapper_buttons {
    display: flex;
    justify-content: center;
    margin: 12px 0 0 0;
  }

  .btn_campaign {
    padding: 6px 12px;
  }

  .btn_campaign span:first-of-type {
    flex-direction: column;
  }

  .active_fromDate_btn {
    padding: 8px;
  }

  .wrapper_mega_button {
    background-color: red;
    display: flex;
    justify-content: flex-start;
  }

  .active_fromDate_btn {
    background: #ffffff;
    color: #dc5c00;
    font-family: googlesansmedium;
    border-radius: 8px;
    padding: 0;
    margin: -4px 0 0 24px;
  }
}

@media (min-width: 960px) {
  .skeContainer [class*='style_item'] {
    max-width: 25% !important;
    flex-basis: 25% !important;
  }
}

@media (min-width: 1280px) {
  .skeContainer [class*='style_item'] {
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media (min-width: 1280px) {
  .customGrid {
    max-width: 20%;
    flex-basis: 20%;
  }
}

.wrapper_slider_loading {
  margin-top: 20px;
}
.wrapper_carousel_loading {
  margin: 60px 0px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 16px;
  height: 675px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_loading {
  margin: 30px;
  padding: 0px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.title_left_loading {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.wrapper_slider_loading {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrapper_slider_product_loading {
  width: 100%;
  height: 505px;
  display: flex;
  padding: 0px 20px;
  column-gap: 15px;
}
.wrapper_btn_loading {
  display: flex;
  justify-content: center;
}
.padding_none {
  padding: 0px !important;
}
