.bgGray {
  background-color: #dfdfdf;
}

.table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.colorRed {
  color: red;
}

.colorGray {
  color: #838383;
}

.bgGreen {
  background-color: green;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.bgYellow {
  background-color: rgb(255, 235, 170);
  color: #000;
  text-align: center;
  font-weight: bold;
}

.bgLightGreen {
  background-color: rgb(220, 238, 208);
  color: #000;
  text-align: center;
  font-weight: bold;
}

.linkBlue {
  text-decoration: underline;
  color: blue;
}

.textGreen {
  color: #00b46e;
  font-weight: bold;
}

.textBold {
  font-weight: bold;
  text-align: center;
}

.wrapper {
  padding: 50px;
}

.wrapper * {
  font-family: ggsr;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 50px 10px;
  }
}