.mobileProduct_listing {
  margin: 16px 0;
  padding: 0;
}
.mobile_filterBox {
  display: flex;
  padding: 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
}
.mobile_fRow {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.mobile_filterBtn,
.mobile_sortBtn {
  min-width: 36px;
}
.mobile_searchInput {
  width: 100%;
}
.mobile_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-family: ggsm;
}
.loader_hidden {
  display: none;
}
.mobile_endMessage {
  font-family: ggsm;
  text-align: center;
  margin: 16px 0;
}
.mobile_headMessage {
  font-family: ggsr;
  text-align: center;
  padding: 0 0 16px;
}
.mobileProduct_list {
  overflow: hidden !important;
}

.mobileFilter_icon {
  min-width: 36px !important;
}

.mobileEmpty {
  text-align: center;
}

.mobileFilterOption_name {
  font-family: ggsm !important;
  text-align: center;
}

.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.bottomPagging {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
