.order_id {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  line-height: 20px;
  font-family: googlesansmedium;
}

.order_detail_label {
  color: #919aa3;
  font-weight: 500;
}

.justify_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

.price_small_screen {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.indicator {
  display: none !important;
}

.indicatorTab {
  border: 1px solid #08ac60;
  height: 24px;
  border-radius: 16px;
  background-color: unset;
}

.paper {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  /* max-height: 70px; */
}

.paper_popup {
  padding-bottom: 0 !important;
}

.wrapActionDate p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: googlesansregular;
  color: #000000;
}

.datePicker {
  padding-left: 20px;
}

.not_order_title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: googlesansmedium;
}

.tabs [class*='MuiTabs-flexContainer'] {
  display: unset !important;
}

.delivery_date {
  color: #919aa3;
  font-weight: 500;
  margin-top: 10px;
}

.status_button {
  text-transform: none !important;
  color: white !important;
  background-color: #919aa3 !important;
  padding: 0px 5px !important;
  font-size: 18px !important;
}

.detail_small_screen {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.not_order_container {
  display: flex;
  flex-direction: column;
}

.not_order_title {
  text-align: center;
  margin: 1rem 0;
}

.gridBtn {
  margin-left: auto;
}

@media (max-width: 1130px) {
  .wrapSearchDate {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .order_id {
    font-size: 22px;
  }

  .order_status {
    padding-top: 0 !important;
  }

  .order_status button {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .grid {
    padding: 8px !important;
    margin: auto;
  }

  .grid [class*='my-order__button'] {
    padding: 2px 0.5rem !important;
  }
}

.status_export {
  display: flex;
  align-items: center;
}

.wrapOrderList {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 2px;
  box-sizing: border-box;
  min-height: 70px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.wrapOrderList:hover {
  border: 1px solid #0cba69;
}

.orderCode {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: googlesansmedium;
  cursor: pointer;
  max-width: 55px;
  max-height: 20px;
  color: #08ac60;
}

.orderCode:hover {
  color: #08ac60;
}

.timeOrder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
  font-family: googlesansregular;
  margin-left: 2px;
}

.reqOrder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #08ac60;
  font-family: googlesansregular;
  margin-left: 2px;
}

.priceOrder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: googlesansmedium;
  color: #000000;
  max-height: 20px;
}

.quantityOrder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
  font-family: googlesansregular;
}

.statusOrder p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: googlesansregular;
}

.deliveryDate > p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
  font-family: googlesansregular;
}

.redeemCode {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #0e1983;
  font-family: ggsr;
}

.deliveryDate > p span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: googlesansregular;
  color: #000000;
  margin-left: 2px;
}

.statusOrder > span {
  margin-right: 8px !important;
}

.statusDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.btnOrder {
  border-radius: 50%;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: 1px solid #0e1983;
  cursor: pointer;
}

.groupBtn button:not(:last-child) {
  margin: 5px 10px 5px 0px;
}

.btnOrder:hover {
  background-color: #ddf4ea;
  border: 1.5px solid #08ac60;
}

.btnOrder:hover span {
  -webkit-filter: invert(19%) sepia(88%) saturate(1000%) hue-rotate(73deg) brightness(119%) contrast(119%);
  filter: invert(19%) sepia(88%) saturate(1000%) hue-rotate(73deg) brightness(119%) contrast(119%);
}

/* orderTop */
.infoOrderRed {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapTopBox {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 10px 18px !important;
  box-sizing: border-box;
  min-height: 145px;
}

.wrapper_search_mobile {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  padding: 10px 18px !important;
  box-sizing: border-box;
}

.myOrder p {
  color: #202332;
  font-family: googlesansmedium;
  font-size: 24px !important;
}

.infoOrderRed > p {
  font-family: googlesansregular;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px;
  color: #000000;
}

.infoOrderRed > a {
  color: #0e1983;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: googlesansmedium;
}

.wrapBottomBox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.codeOrder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: googlesansmedium;
  color: #000000;
  text-transform: capitalize;
}

.BtnSearch {
  background-color: #08ac60;
  color: #ffffff;
  font-family: googlesansmedium;
  min-width: 120px;
}

.BtnSearch:hover {
  background-color: #118f55 !important;
  color: #ffffff;
}

.wrapCodeOrder {
  min-width: 186px;
}

.searchResult > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: googlesansregular;
  color: #797979;
}

.textSearch {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #202332;
  font-family: googlesansmedium;
  margin-right: 16px;
}

.wrapChageTab {
  margin-top: 10px;
}

.indicator {
  border-bottom: unset;
  overflow-x: scroll;
}

.tabOrder {
  background: #f2f4fa;
  max-height: 22px !important;
  padding: 0 !important;
  margin-right: 12px;
  height: 22px;
  min-height: 24px;
  width: 70px;
  min-width: 120px;
  border-radius: 16px;
}

.sellected {
  background-color: #edfdf6 !important;
}

.sellected span {
  color: #09884d !important;
  font-family: googlesansregular;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.tabList > div > svg {
  background-color: red;
  width: 0;
}

.tabList {
  align-items: center !important;
}

.tabOrder span {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: googlesansregular;
  line-height: 18px;
  color: #0e1983;
}

.input > div {
  border-radius: 20px;
  min-height: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #868585;
}

.input > div > input {
  font-family: googlesansregular !important;
  margin-left: 5px;
}

.input > div > fieldset {
  border: 1px solid #e6e8ef !important;
}

.btnSearchDate {
  margin-left: 24px;
}

.btnData {
  color: #797979;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dcdbdb;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: googlesansregular !important;
  border-radius: 20px;
  height: 28px;
  width: 130px;
  gap: 4px;
}

.btnIcon {
  font-size: 18px;
  margin-left: 2px;
}

.btnData:hover {
  background-color: #ddf4ea;
  border: 1px solid #08ac60;
  color: #08ac60;
}

.btnActive {
  background-color: #ddf4ea;
  border: 1px solid #08ac60;
  color: #08ac60;
}

.invoiceList {
  min-width: 320px;
  position: relative;
  z-index: 99999;
  background-color: #ffff;
  border-radius: 20px;
}

.invoiceList li {
  position: relative;
  z-index: 99999;
  background-color: #ffff;
  color: #0e1983;
}

.invoiceList li :hover {
  color: #08ac60 !important;
  text-decoration: underline;
}

.invoiceList .MuiSvgIcon-root {
  color: inherit;
}

.iconCancel {
  color: #ababab;
  cursor: pointer;
}

.exportXLSX {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.exportXLSX > p {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: capitalize;
}

.invoiceData {
  width: 100%;
}

.invoiceData > a > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: googlesansregular;
  color: inherit;
}

.invoiceData > a > svg {
  color: #ababab;
}

.invoiceData > a {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: inherit;
}

.data {
  font-family: googlesansmedium;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;

  margin-bottom: 10px;
}

.desInvoice {
  font-family: googlesansregular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
}

.Paper {
  border-radius: 10px;
}

@media (max-width: 1265px) {
  .wrapFrom {
    max-width: 180px;
  }

  .wrapBottomBox {
    flex-wrap: wrap;
  }
}

@media (max-width: 1180px) {
  .wrapBottomBox {
    flex-wrap: wrap;
  }

  .or {
    display: none;
  }

  .wrapCodeOrder {
    margin-bottom: 10px;
    max-width: unset;
  }

  .wrapSearchNameOrder {
    margin: 10px 0px 10px;
  }

  .wrapSearchNameOrder > div {
    margin-left: 26px;
  }

  .from {
    margin-right: 12px;
  }

  .wrapSearchDate .wrapBtnSearch {
    margin: 0;
  }

  .btnSearchDate {
    margin: 0 !important;
  }
}

@media (max-width: 600px) {
  .infoOrderRed {
    justify-content: flex-start;
  }
}

@media (max-width: 1060px) {
  .groupBtn {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .wrapBtnSearch {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 6px;
  }
}

@media (max-width: 480px) {
  .wrapFrom {
    margin-top: 4px;
  }

  .wrapFrom div {
    margin-left: 0px;
  }
}

@media (max-width: 720px) {
  .wrapTopBox {
    max-height: none;
    min-height: none;
  }
}

.wrapLoad {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .invoiceList {
    width: 345px;
    margin-left: 0px;
  }
}

.editBtn {
  color: #ffffff;
  background-color: rgb(249, 181, 20) !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dcdbdb;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: googlesansregular !important;
  border-radius: 20px;
  height: 28px;
  width: 120px;
  gap: 4px;
}

@media (min-width: 1280px) {
  .order_code_wrapper {
    flex-grow: 0;
    max-width: 20.5%;
    flex-basis: 20.5%;
  }

  .order_time_wrapper {
    flex-grow: 0;
    max-width: 22%;
    flex-basis: 22%;
  }

  .order_btn_wrapper {
    flex-grow: 0;
    max-width: 37%;
    flex-basis: 37%;
  }
}

.numberBold {
  font-family: 'googlesansmedium';
  font-weight: 500;
  color: #000000;
}

.scrollBtn {
  margin-bottom: 12px;
}

.scrollBtnDisable [class*='Mui-disabled'] {
  opacity: 0.2 !important;
}

.hideBtn {
  display: none;
}

.tabContext {
  margin-left: 10px;
}

.md45 {
  flex-grow: 0;
  max-width: 38%;
  flex-basis: 38%;
}

@media (min-width: 1200px) {
  .md45 {
    flex-grow: 0;
    max-width: 37%;
    flex-basis: 37%;
  }
}

.md42 {
  flex-grow: 0;
  max-width: 36%;
  flex-basis: 36%;
}

@media (max-width: 1265px) {
  .md42 {
    flex-grow: 0;
    max-width: 40%;
    flex-basis: 40%;
  }
}
.w_100 {
  width: 100%;
}
