body {
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 14px;
}

.panel {
    border: solid 1px #ddd;
    border-radius: 3px;
    background-color: #fff;
    padding: 12px;
    clear: both;
}

.MuiTableCell-head {
    font-weight: 700 !important;
    text-transform: uppercase;
}

.backdrop {
    color: #fff;
}

.MuiFormLabel-asterisk {
    color: red
}

.removeMarginTopHelperText p.MuiFormHelperText-root{
        margin-top: 0!important;
}