.native_select [class*='MuiNativeSelect-select'] {
  height: 35px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.native_select [class*='MuiNativeSelect-icon'] {
  right: 5px !important;
}
