.wrapper {
  border: 1px solid #DCDBDB;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 8px;
  color: #797979;
  /* margin-right: 32px; */
}

.icon {
  margin-left: 12px;
  height: 16px;
  width: 16px;
}

.loadingContainer{
  right: 4%;
  display: flex;
  padding: 10px 12px;
}
.loadingContainer > div{
  color: #0CBA69;
}
.iconClearText{
  font-size: 0.9rem!important;
}
