.cropperMarginTop {
  margin-top: 10px;
}

.padding30 {
  padding: 20px 0;
  width: 100%;
}
.panelCon {
  background-color: #fff !important;
  color: #555;
}

.tabPanel {
  padding: 10px;
}

.widthImage {
  max-width: 330px;
  max-height: 100px;
}

.rightGroup {
  float: right;
  align-items: center;
  margin-bottom: 10px;
}
