.tab {
    min-width: unset!important;
}

.indicator {
    background-color: #f9b514!important;
    height: 5px!important;
}

.content {
    padding-left: 30px;
}

@media (max-width: 767px) {
    .tab_panel{
        padding: 15px !important;
    }
    .content{
        padding-left: 0;
    }
}