.step {
  overflow-x: auto !important;
}

@media screen and (max-width: 767px) {
  .step {
    padding: 0 !important;
  }

  .step [class*='iconContainer'] > div {
    width: 40px;
    height: 40px;
    border: 2px solid #00b46e;
  }

  .step [class*='iconContainer'] svg {
    font-size: 20px !important;
  }

  .step [class*='MuiStepConnector'] {
    top: 30px !important;
  }

  .step [class*='MuiStepLabel'] {
    margin-top: 5px !important;
    font-size: 11px !important;
  }
}
