.title {
  text-align: center;
}

.description {
  margin-bottom: 30px;
}

.promo_special {
  background-image: linear-gradient(to right, #00b46e, #17a2b8);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.promo_not_yet {
  text-align: center;
  padding: 20px;
}

.root {
  font-size: 16px;
  padding-top: 45px;
}

.container {
  padding: 15px 50px;

}

.transparentBtn {
  background-color: transparent;
  border: unset;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: unset;
  font-size: 16px;
  color: #0e1983;
  font-family: ggsm;
}

@media (max-width: 767px) {
  .root {
    padding-top: 0;
    padding-bottom: 110px;
  }

  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container h4 {
    font-size: 27px;
  }

  .container p {
    margin: 5px 0;
  }

  .title h4 {
    font-size: 24px !important;
  }

  .promo_special h1 {
    font-size: 24px;
  }

  .other {
    font-size: 24px;
  }

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .description {
    margin-bottom: 30px !important;
  }
}

/* style using for mobile v2 */
.root_mv2 {
  font-family: 'ggsm';
}