.tab_active {
  color: #00b46e !important;
  outline: none !important;
  cursor: pointer;
}
.tab_inactive {
  outline: none !important;
}

/* for icon */
.tab_active svg {
  color: #00b46e !important;
}
.tab_inactive:hover {
  color: #00b46e !important;
  cursor: pointer;
}

/* for icon */
.tab_inactive:hover svg {
  color: #00b46e !important;
}

.tab_box {
  flex: 0 0 25%;
  max-width: 25%;
}

.account_name {
  padding-bottom: 30px;
}

.name {
  font-weight: bold !important;
  text-transform: capitalize;
}

@media only screen and (max-width: 950px) {
  .tab_box {
    display: none !important;
  }
}
