.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #00b46e;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.root {
  padding: 50px 0;
}
.grid_wapper {
  width: 100%;
}
