.product_listing {
  margin-top: 10px;
  padding-bottom: 10px;
}

.product_grid_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 1280px) {
  .customGrid {
    max-width: 20%;
    flex-basis: 20%;
  }
}
/* new mobile UI */
.mobileProduct_grid_wrapper {
  margin: 16px 0;
}
