.root {
  position: fixed;
  flex-direction: column;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.wrapperActions {
  display: flex;
  margin-top: 8px;
  margin-bottom: 3px;
}

.labelOrder {
  font-family: 'ggsr';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
}

.totalPoint {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  /* Color/Text Green */

  color: #09884D;
}

.input {
  width: 100% !important;
}

.btnMinus,
.btnPlus {
  width: 55px !important;
}