/* v2 */
.gotoLoyaltyPage {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.gotoLoyaltyPage a {
    color: #0E1983;
    font-family: ggsr;
}

.exchangeLoyalty p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    font-family: ggsm;
    color: #000000;
}

.wrapExchangeLoyalty {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 24px;
    /* min-width: 468px; */
}

.wrapTitleLoyalty>p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    font-family: ggsm;
    color: #000000;
    margin-left: 8px;
}

.viewMore {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    font-family: ggsr;
    color: #0E1983;
    margin-left: 8px;
    cursor: pointer;
}

.totalCode p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: ggsr;
    color: #797979;
}

.accordianStyle {
    width: 100%;
    display: inline-flex;
    box-shadow: none;
    justify-content: space-between;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-duration: 222ms;
}

.resvered {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}



.accordianStyle [class*='MuiCollapse-root'] {
    min-height: 120px !important;
    /* visibility: visible; */
    display: flex;
    box-shadow: unset;
    /* transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    transition-duration: 222ms;
    justify-self: unset !important;
    overflow: unset;
}

.accordianStyle [class*='MuiCollapse-wrapperInner']>div>div {
    margin-right: 34px;
}

.accordianStyle [class*='MuiCollapse-wrapperInner']>div>div:last-of-type {
    display: none;
}

.accordianStyle [class*='MuiCollapse-wrapperInner']>div {
    visibility: visible;
    display: flex;
}

.accordianStyle>div {
    margin-right: 34px;
}

.rotateIcon>span {
    transform: rotate(-180deg);
    transition: all .2s ease-in-out;
}

.hiddenViewmore {
    display: none;
}

.fakeVoucher {
    visibility: hidden;
}

.wrapVoucher {
    margin-left: 34px;
}

@media (min-width: 1278px) {
    .fakeVoucher {
        visibility: hidden;
        height: 0;
        /* width: 66%; */
    }
}

@media (max-width: 1278px) {
    .wrapVoucher {
        justify-content: space-evenly;
    }
}

@media (max-width: 1285px) {

    .accordianStyle {
        display: flex;
        overflow: hidden;
    }

    .fakeVoucher {
        visibility: hidden;
        height: 0;
    }



}

@media (min-width: 940px) and (max-width: 950px) {
    .wrapVoucher {
        margin: 0;
    }

    .fakeVoucher {
        visibility: hidden;
        height: 0;
        display: flex;
        /* justify-content: flex-start; */
        width: 66%;
        flex: 1;
    }

}

@media (max-width: 750px) {
    .wrapLoyaltyTop {
        margin-top: 20px !important;
    }

    .wrapVoucher {
        justify-content: center;
    }

}

@media (max-width: 699.9px) {
    .fakeVoucher {
        display: none;
    }
}

@media (max-width: 600px) {
    .totalCode {
        justify-content: flex-start;
        margin: 6px 0px 0px 34px;
    }

    .accordianStyle {
        display: unset;
    }

    .gotoLoyaltyPage {
        margin-top: 6px;
        justify-content: flex-start;

    }


}

@media (max-width: 480px) {
    .wrapTitleLoyalty {
        justify-content: flex-start;
    }

    .wrapVoucher {
        margin-left: 6px;
    }

}