.wrapper {
  background: #fff;
  border-radius: 12px;
  margin-left: 10px;
  width: 100%;
  padding: 20px;
}
.wrapper * {
  font-size: 14px;
}
@media (max-width: 767px) {
  .wrapper {
    margin-left: 0;
  }
}
.btn_see_more {
  margin-top: 5px;
  color: rgb(14, 25, 131);
}