.sellerInfo {
  background-color: #fff;
  margin-top: 10px;
  padding: 28px 15px 12px;
  height: 102px;
}

.flagshipInfo {
  padding-left: 0;
}

.img {
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 30px;
  border: 1px solid #dcdbdb !important;
  border-radius: 12px !important;
  padding: 25px !important;
}

.fullImg {
  padding: 10px !important;
}

.imgSeller {
  -o-object-fit: contain;
  object-fit: contain;
}

.chip {
  border-radius: 0px 0px 7px 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 16px;
  text-transform: capitalize;
}

.store {
  background-color: #09884d;
}

.flagship {
  background-color: #b98f0f;
}

.chip [class*='MuiChip-label'] {
  font-family: ggsm !important;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.imgWrap {
  padding-left: 59px;
}

.imgWrapFlagship {
  width: 100%;
}

.name {
  font-size: 14px;
  font-family: ggsm;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 18px;
  color: #000000;
}

.label {
  font-size: 14px;
  margin-left: 5px;
  color: #636363;
}

.icon_label {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.years {
  background-color: #0e1983;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
}

.years > p {
  color: #fff;
  font-size: 9px;
  line-height: 11px;
  font-family: ggsr;
  font-weight: 400;
}

.years_text {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: ggsm !important;
  line-height: 18px;
  font-feature-settings: 'ss01' on;
  margin-top: 4px;
}

.cooperate_text {
  font-size: 12px !important;
  line-height: 15px !important;
  text-transform: capitalize;
  color: #797979;
  margin-left: 8px;
}

.cooperator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.statistic {
  margin-top: 15px;
}

.store_logo {
  width: 52px;
  height: 52px;
}
.store_logo > span {
  border: 1px solid #dcdbdb !important;
  border-radius: 4px;
}

.review_store_container {
  background-color: #ffffff;
  width: 100%;
  height: 43px;
}
.review_store_container > div:not(:nth-child(4)) {
  /* border-right: 1px solid #E9E9E9 */
}

.data_text_styles {
  font-family: ggsm;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #09884d;
}
.title_text_styles {
  font-family: ggsr;
  font-style: normal;
  font-size: 10px;
  line-height: 13px;
  color: #797979;
}
