.wrapper_slider {
  padding: 20px 0px;
}
.wrapper_slider [class*='slick-dots'],
.wrapper_multi_slider [class*='slick-dots'] {
  bottom: -40px;
}

.wrapper_slider [class*='slick-dots'] [class*='slick-active'],
.wrapper_multi_slider [class*='slick-dots'] [class*='slick-active'] {
  width: 8px !important;
  height: 8px !important;
  background-color: #0cba69;
}

.wrapper_slider [class*='slick-arrow'] {
  z-index: 1;
  color: #fff !important;
}

.wrapper_slider [class*='slick-next'] {
  right: 30px;
  width: 32px;
  height: 32px;
}

.wrapper_slider [class*='slick-prev'] {
  left: 30px;
  width: 32px;
  height: 32px;
}

.wrapper_slider [class*='slick-prev']::before,
.wrapper_slider [class*='slick-next']::before,
.wrapper_multi_slider [class*='slick-prev']::before,
.wrapper_multi_slider [class*='slick-next']::before {
  content: '';
}
.wrapper_slider_loading {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
